Repository PingCAP-QE/ci, pull requests merged in 2023-10, with the labels that each got.

#2491 Update qa_release_test.groovy
  jenkins/pipelines/qa_release_test.groovy
Labels: approved, lgtm, size/M

#2492 config: add typeorm pipeline to tidb test repo
  jobs/pingcap-qe/tidb-test/latest/ghpr_integration_typeorm_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_typeorm_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_typeorm_test.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2494 feat(tidb-test): add typeorm_test job on tidb-test repo
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
  prow-jobs/pingcap-tidb-test-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2496 config: test new nodejs image
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_typeorm_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2498 feat(tidb-test): add node affinity
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_prisma_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_sequelize_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_typeorm_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2499 chore(pingcap/tidb): compatible with the coming package refactor contribution
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.2/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.3/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.4/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.6/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_check2.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2500 feat: using ci base image for typeorm test
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_typeorm_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2502 feat: support pipeline used by qa-test
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_common_test.groovy
Labels: approved, lgtm, size/M

#2501 fix: using ee/ci/base amd64 image
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_typeorm_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2503 fix: fix the typeorm scripts
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_typeorm_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2505 fix(enterprise-plugin): correct enterprise-plugin path
  jenkins/pipelines/ci/tidb/tidb_ghpr_build.groovy
Labels: approved, lgtm, size/S

#2504 refactor: merge nodejs tests into one pipeline
  jobs/pingcap-qe/tidb-test/latest/ghpr_integration_nodejs_test.groovy
  jobs/pingcap-qe/tidb-test/latest/ghpr_integration_prisma_test.groovy
  jobs/pingcap-qe/tidb-test/latest/ghpr_integration_sequelize_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_nodejs_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_prisma_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_sequelize_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_prisma_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_sequelize_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_typeorm_test.yaml
  prow-jobs/pingcap-tidb-test-latest-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2506 fix: rename typeorm to nodejs
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_nodejs_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2508 fix: simpify the script and fix the container config
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_nodejs_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2509 fix(tikv): cargo install with --locked to fix error
  jenkins/pipelines/ci/tikv/tikv_ghpr_coverage.groovy
Labels: approved, lgtm

#2510 feat(qa): add archive-image-binary-to-minio
  jenkins/jobs/ci/qa/archive-image-binary-to-minio.groovy
  jenkins/pipelines/qa/archive-image-binary-to-minio.groovy
Labels: approved, lgtm, size/L

#2513 fix: using bash with abs path
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_nodejs_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2511 feat: support fast build tiflash at nightly
  jenkins/jobs/cd/build_tiflash/master.groovy
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/optimization-libs.groovy
Labels: approved, lgtm, size/L

#2493 config: add typeorm test to tidb merged ci
  jobs/pingcap/tidb/latest/merged_integration_nodejs_test.groovy
  jobs/pingcap/tidb/latest/merged_integration_sequelize_test.groovy
  jobs/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_prisma_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  prow-jobs/pingcap-tidb-latest-postsubmits.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2514 fix: nightly tiflash path
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
Labels: approved, lgtm, size/XS

#2518 feat(tikv): refactor tikv ut
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#2517 fix(tidb): fix cache path and cache key
  pipelines/pingcap/tidb/latest/merged_integration_nodejs_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2516 feat: updaste rust_rocksdb image in test
  jenkins/pipelines/ci/rust-rocksdb/rust_rocksdb_ghpr_test.groovy
Labels: approved, lgtm, size/XS

#2522 fix(pingcap-inc/enterprise-extensions): fix unit test step
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2521 feat: remove mydumper and tikv-importer since v7.5.0
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/multibranch/build_dm_from_cdc_multi_branch.groovy
  jenkins/pipelines/cd/nightly/release_tidb_master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-package-offline-mirror-6.0.0.groovy
Labels: approved, lgtm, size/M

#2524 feat(tiflow): tiflow split release-7.5 branch jobs
  jobs/pingcap/tiflow/release-7.5/aa_folder.groovy
  jobs/pingcap/tiflow/release-7.5/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-release-7.5-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2523 feat(tidb): tidb split release 7.5 jobs
  jobs/pingcap/tidb/release-7.5/aa_folder.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_build.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_check.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_check2.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-7.5-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2525 feat: tikv_ghpr_cache image build update
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Labels: approved, lgtm, size/XS

#2515 add building bench_dbms to tiflash ci pipeline
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
Labels: approved, lgtm, size/XS

#2526 fix(tidb): correct build tidb-server cmd
  pipelines/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
Labels: approved, lgtm, size/XS

#2527 fix(tidb): correct build tidb-server cmd
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Labels: approved, lgtm, area/jenkins-pipelines

#2529 fix(tidb): update integrationtest cmd on 7.5
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2530 chore: set pull-e2e-test optional
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2519 fix(tidb): fix script integrationtest.sh
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  scripts/pingcap/tidb/integrationtest_with_tikv.sh
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2531 fix: deleteDir retry will fail at root workspace
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
Labels: approved, lgtm, size/XS

#2534 fix: tidb repo layout change
  jenkins/pipelines/cd/tiup/prometheus-tiup-mirror-update.groovy
Labels: approved, lgtm, size/XS

#2535 fix: support qa-release-test trigger pipeline
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
Labels: approved, lgtm, size/S

#2536 fix the pd failpoint build
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Labels: approved, lgtm, size/XS

#2537 feat(tidb): remove wip and set those optional
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2540 feat(tidb): auto create pull requests to bump enterprise extension submodule folders
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-community-postsubmits.yaml
  prow-jobs/pingcap-inc-enterprise-extensions-postsubmits.yaml
  scripts/pingcap-inc/enterprise-extensions/update-submodule-in-tidb.ts
Labels: approved, lgtm, size/L, area/jobs/prow

#2541 chore(tidb): set two canary job as optional
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2538 feat(tidb): update pull-test pipeline to simplify
  pipelines/pingcap/tidb/latest/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XL, area/jenkins-pipelines, area/jobs/prow

#2539 feat: add tiproxy tiup pipeline
  jobs/pingcap/tiproxy/cd/latest/release_tiproxy_tiup.groovy
  pipelines/pingcap/tiproxy/cd/latest/pod-go-amd64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-go-arm64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-tiup.yaml
  pipelines/pingcap/tiproxy/cd/latest/release-tiproxy-tiup.groovy
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines

#2544 chore(jobs/pingcap/tidb): delete security scan job configs
  jobs/pingcap/tidb/latest/canary_scan_security.groovy
  pipelines/pingcap/tidb/latest/canary-scan-security.groovy
  pipelines/pingcap/tidb/latest/pod-canary-scan-security.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2547 chore: upgrade jnlp image version
  jenkins/pipelines/cd/pre-release-enterprise-docker.groovy
  jenkins/pipelines/cd/tiup/grafana-tiup-mirror-update-test.groovy
  jenkins/pipelines/cd/tiup/pre-release-build.groovy
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/pd/pd_ghpr_build.groovy
  jenkins/pipelines/ci/pd/pd_ghpr_monitor_test.groovy
  jenkins/pipelines/ci/ticdc/cdc_ghpr_downstream_coverage.groovy
  jenkins/pipelines/ci/ticdc/cdc_ghpr_integration_test.groovy
  jenkins/pipelines/ci/ticdc/cdc_ghpr_kafka_integration_test.groovy
  jenkins/pipelines/ci/ticdc/cdc_ghpr_leak_test.groovy
  jenkins/pipelines/ci/ticdc/cdc_ghpr_test.groovy
  jenkins/pipelines/ci/ticdc/dm_ghpr_compatibility_test.groovy
  jenkins/pipelines/ci/ticdc/dm_ghpr_integration_test.groovy
  jenkins/pipelines/ci/ticdc/engine_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_build_new3.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_check.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_integration.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_build.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_mysql_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_br_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_cdc_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_integration_copr_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_readonly_test.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb/tidb_integration_test_ci_shadow_debug.groovy
  jenkins/pipelines/ci/tidb/tidb_merged_pr_build.groovy
  jenkins/pipelines/ci/tiflash/tiflash_schrodinger_test.groovy
  jenkins/pipelines/ci/tikv/pd/pd_ghpr_build.groovy
  jenkins/pipelines/ci/tikv/pd/pd_ghpr_monitor_test.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_integration-copr-test.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_integration_common_test.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_integration_compatibility_test.groovy
  jenkins/pipelines/ci/tikv/tikv_ghpr_integration_ddl_test.groovy
Labels: approved, lgtm, size/M

#2546 chore: bump nightly version to 7.6.0-alpha
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-atom.groovy
Labels: approved, lgtm, size/S

#2551 feat(tikv/pd): add wip job `build` for release-6.1
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-latest-presubmits-wip.yaml
  prow-jobs/tikv-pd-release-6.1-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#2552 chore: build nightly for 7.5
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
Labels: approved, lgtm, size/XS

#2548 chore: enable report of nodejs test
  prow-jobs/pingcap-tidb-latest-postsubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2549 fix(scripts/pingcap/community): fix update-prow-owners.ts
  scripts/pingcap/community/update-prow-owners.ts
Labels: approved, lgtm, size/S

#2550 fix(jenkins): deprecate `tiup package` usages
  jenkins/jobs/cd/grafana_tiup_mirror_update.groovy
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/tiup/cdc-tiup-mirror-update.groovy
  jenkins/pipelines/cd/tiup/grafana-tiup-mirror-update-test.groovy
  jenkins/pipelines/cd/tiup/prometheus-tiup-mirror-update.groovy
  jenkins/pipelines/cd/tiup/tiflash-tiup-mirror-update.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-tidb.groovy
Labels: approved, lgtm, size/L

#2558 Create OWNERS
  jenkins/jobs/cd/OWNERS
Labels: approved, lgtm, size/XS

#2555 feat: add periodics integration test to check
  jobs/pingcap/tidb/latest/periodics_integration_test.groovy
  pipelines/pingcap/tidb/latest/periodics_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
Labels: approved, lgtm, size/XL, area/jobs/jenkins-DSL, area/jenkins-pipelines

#2559 fix(pipelines/pingcap/tidb/latest): fix pod of canary unit test job
  pipelines/pingcap/tidb/latest/pod-canary-ghpr_unit_test.yaml
Labels: approved, lgtm, area/jenkins-pipelines

#2560 fix: fix periodics integration test
  pipelines/pingcap/tidb/latest/periodics_integration_test.groovy
Labels: approved, lgtm, size/XS

#2562 fix: fix refs file upload path
  pipelines/pingcap/tidb/latest/periodics_integration_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2563 feat(tidb): support fetch verify artifact
  libraries/tipipeline/vars/component.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2569 fix: ensure tar path exist
  jenkins/pipelines/cd/tiup/grafana-tiup-mirror-update-test.groovy
  jenkins/pipelines/cd/tiup/tiflash-tiup-mirror-update.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-tidb.groovy
Labels: approved, lgtm, size/L

#2564 feat: remove manifest tool
  jenkins/pipelines/cd/atom-jobs/manifest-multiarch-common.groovy
Labels: approved, lgtm, size/S

#2570 split addindex real-tikv test into multiple directory
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines
