Repository PingCAP-QE/ci, pull requests merged in 2023-12, with the labels that each got.

#2650 feat(tikv/migration): upgrade to go1.21
  pipelines/tikv/migration/latest/pod-pull_integration_test.yaml
  pipelines/tikv/migration/latest/pod-pull_unit_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2651 Add make bazel_lint for enterprise-extension verify check
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2653 Update check in pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2646 Update update-submodule-in-tidb.ts
  scripts/pingcap-inc/enterprise-extensions/update-submodule-in-tidb.ts
Labels: approved, lgtm, size/XS

#2654 chore: update tiflash merge ut
  jobs/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines

#2649 fix: ignore error if tar logs fail
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2656 fix(pingcap-inc/enterprise-extensioins): fix post-submit job
  prow-jobs/pingcap-inc-enterprise-extensions-postsubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#2657 remove integrationtest or explaintest for verify CI in enterprise-extensions
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2616 feat: retry when download binary failed
  pipelines/pingcap/tidb/latest/merged_build.groovy
  pipelines/pingcap/tidb/latest/merged_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_e2e_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/merged_mysql_client_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  scripts/PingCAP-QE/tidb-test/download_pingcap_artifact_v2.sh
Labels: approved, lgtm, size/XL, area/jenkins-pipelines

#2658 fix(pingcap-inc/enterprise-extensions): not use git repo cache for private repo
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2659 chore: disable merged-e2e-test report
  prow-jobs/pingcap-tidb-latest-postsubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2571 feat(script/plugins): support analyze fail reason of test case
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-6.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.0/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.2/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.2/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.3/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.4/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_unit_test.yaml
  scripts/plugins/analyze-go-test-from-bazel-output.sh
Labels: approved, lgtm, size/XXL, area/jenkins-pipelines

#2660 feat: support fips for operator
  jenkins/pipelines/cd/tidb-operator.groovy
Labels: approved, lgtm, size/M

#2662 chore: add debug log for ks3util
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/atom-jobs/docker-common.groovy
Labels: approved, lgtm, size/S

#2663 feat(devbuild): support drainer and pump
  jenkins/jobs/cd/devbuild.groovy
  jenkins/pipelines/cd/dev-build.groovy
Labels: approved, lgtm, size/M

#2655 pd: support pd real cluster
  jobs/tikv/pd/latest/pull_integration_realcluster_test.groovy
  pipelines/tikv/pd/latest/pod-pull_integration_realcluster_test.yaml
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines

#2665 feat(pd): enable pd pull-integration-realcluster-test
  prow-jobs/tikv-pd-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2666 feat: add 8.1 to lts
  jenkins/pipelines/cd/tiup/tiup-package-offline-mirror-6.0.0.groovy
Labels: approved, lgtm, size/XS

#2667 chore(build): update multi-branch build
  jenkins/pipelines/cd/multibranch/build_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_dm_from_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_pd_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_tools_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tikv_multi_branch.groovy
Labels: approved, lgtm, size/M

#2668 feat: tidb support fips branch pipelines
  jobs/pingcap/tidb/release-6.5-fips/aa_folder.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_check.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-fips-presubmits.yaml
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2669 feat: tiflow support fips branch pipelines
  jobs/pingcap/tiflow/release-6.5-fips/aa_folder.groovy
  jobs/pingcap/tiflow/release-6.5-fips/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_test.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-6.5-fips/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_integration_test.groovy
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-fips-presubmits.yaml
  scripts/pingcap/tiflow/release-6.5-fips/cdc_run_group.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_download_compatibility_test_binaries.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_download_integration_test_binaries.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_run_group.sh
  scripts/pingcap/tiflow/release-6.5-fips/ticdc_download_integration_test_binaries.sh
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2670 feat: add two presubmit yaml
  prow-jobs/kustomization.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2671 feat: build with enable fips
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2672 feat: pd support fips pipeline
  jobs/tikv/pd/release-6.5-fips/aa_folder.groovy
  jobs/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5-fips/pod-ghpr_build.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-pd-latest-presubmits.yaml
  prow-jobs/tikv-pd-release-6.5-fips-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2673 fix: bypass dockerhub rate-limit
  jenkins/pipelines/cd/build-tidb-dashboard.groovy
Labels: approved, lgtm, size/XS

#2674 fix: fix tidb support on release 6.5 fips
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-6.5-fips/pod-ghpr_unit_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2675 fix: Fix the issue with bash's input parameters.
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
Labels: approved, lgtm, size/XS

#2676 fix: update dm download scripts
  scripts/pingcap/tiflow/release-6.5-fips/dm_download_integration_test_binaries.sh
Labels: approved, lgtm, size/XS

#2677 chore: disable report
  prow-jobs/pingcap-tidb-latest-postsubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2679 pd: download bin
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2678 feat: support target image path
  jenkins/jobs/cd/devbuild.groovy
  jenkins/pipelines/cd/dev-build.groovy
Labels: approved, lgtm, size/XS

#2680 pd: with_race when build pd
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2682 chore: use the fips-branch tidb-test
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2684 feat: support branch tidb-6.5with-kv-timeout-feature
  jenkins/jobs/ci/tidb/ghpr_build.groovy
  jenkins/jobs/ci/tidb/ghpr_check.groovy
  jenkins/jobs/ci/tidb/ghpr_check2.groovy
  jenkins/jobs/ci/tidb/ghpr_mysql_test.groovy
  jenkins/jobs/ci/tidb/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-6.5-with-kv-timeout-feature/aa_folder.groovy
  jobs/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_build.groovy
  jobs/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_check.groovy
  jobs/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_check2.groovy
  jobs/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_check.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/pod-ghpr_unit_test.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-6.5-with-kv-timeout-feature-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2681 feat(tidb): add periodics ut pipeline on tidb
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-latest-periodics.yaml
Labels: approved, lgtm, size/S, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2685 feat: optimize job clone params
  prow-jobs/pingcap-tidb-latest-periodics.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2683 chore: adjust timeout for tidb ci
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2686 chore: update cron
  prow-jobs/pingcap-tidb-latest-periodics.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2687 feat: optimize ci repo fetch
  jobs/pingcap/tidb/latest/canary_ghpr_unit_test.groovy
Labels: approved, lgtm, size/XS, area/jobs/jenkins-DSL

#2688 fix: solve yum install slow for centos 8
  jenkins/Dockerfile/release/linux-arm64/enterprise/tidb
  jenkins/Dockerfile/release/linux-arm64/tidb
Labels: approved, lgtm, size/S

#2690 feat: archive logs if check failed
  pipelines/pingcap/tidb/latest/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2689 pd_real_cluster: remove cd to specific dir
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2565 feat(tidb): set pull-integration-ddl-test as reuired on master branch
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2566 feat(tidb): set pull-mysql-client-test as required lable on master branch
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2691 fix: update tiflash pull-ut
  jobs/pingcap/tiflash/latest/pull_build_and_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_build_and_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  prow-jobs/pingcap-tiflash-latest-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2692 debug: test optional
  prow-jobs/pingcap-qe-ci-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2695 Revert "debug: test optional"
  prow-jobs/pingcap-qe-ci-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2696 If lightning CI is started, let it block merge action
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2698 feat(tiproxy): disable docker build flow
  jenkins/jobs/cd/tiproxy_docker.groovy
Labels: approved, lgtm, size/XS

#2699 Update pingcap-tidb-latest-presubmits-canary.yaml
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2700 temp move jobs
  what-jobs/migration/aa_folder.groovy
  what-jobs/migration/latest/pull_integration_test.groovy
  what-jobs/migration/latest/pull_unit_test.groovy
  what-jobs/tidb-engine-ext/aa_folder.groovy
  what-jobs/tidb-engine-ext/latest/ghpr_unit_test.groovy
  what-jobs/tidb-engine-ext/release-6.1/aa_folder.groovy
  what-jobs/tidb-engine-ext/release-6.1/ghpr_unit_test.groovy
Labels: approved, lgtm

#2701 Revert "temp move jobs"
  jobs/pingcap/tidb-engine-ext/aa_folder.groovy
  jobs/pingcap/tidb-engine-ext/latest/ghpr_unit_test.groovy
  jobs/pingcap/tidb-engine-ext/release-6.1/aa_folder.groovy
  jobs/pingcap/tidb-engine-ext/release-6.1/ghpr_unit_test.groovy
  jobs/tikv/migration/aa_folder.groovy
  jobs/tikv/migration/latest/pull_integration_test.groovy
  jobs/tikv/migration/latest/pull_unit_test.groovy
Labels: size/XS, area/jobs/jenkins-DSL

#2702 fix: increase tiflash builder limit
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
Labels: approved, lgtm, size/XS

#2703 feat(pingcap/tidb-engine-ext): tidb engine ext support prow trigger
  jobs/pingcap/tidb-engine-ext/aa_folder.groovy
  jobs/pingcap/tidb-engine-ext/latest/ghpr_unit_test.groovy
  jobs/pingcap/tidb-engine-ext/release-6.1/aa_folder.groovy
  jobs/pingcap/tidb-engine-ext/release-6.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb-engine-ext/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb-engine-ext/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb-engine-ext/release-6.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb-engine-ext/release-6.1/pod-ghpr_unit_test.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-engine-ext-latest-presubmits.yaml
  prow-jobs/pingcap-tidb-engine-release-6.1-latest-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2704 feat(tikv/migration): support prow trigger job
  jobs/tikv/migration/latest/pull_integration_test.groovy
  jobs/tikv/migration/latest/pull_unit_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
  pipelines/tikv/migration/latest/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-migration-latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2706 fix: use internal image to avoid dockerhub rate limit
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_build.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_nodejs_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_python_orm_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_mysql_connector_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_ruby_orm_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-6.0/pod-ghpr_build.yaml
  pipelines/PingCAP-QE/tidb-test/release-6.0/pod-ghpr_integration_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-6.0/pod-ghpr_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-6.1/pod-ghpr_build.yaml
  pipelines/PingCAP-QE/tidb-test/release-6.1/pod-ghpr_integration_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-6.1/pod-ghpr_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-6.2/pod-ghpr_build.yaml
  pipelines/PingCAP-QE/tidb-test/release-6.2/pod-ghpr_integration_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/release-6.2/pod-ghpr_mysql_test.yaml
  pipelines/ti-community-infra/test-prod/pod-prow_debug.yaml
  pipelines/tikv/migration/latest/pod-pull_integration_test.yaml
  pipelines/tikv/migration/latest/pod-pull_unit_test.yaml
  pipelines/tikv/pd/latest/pod-ghpr_build.yaml
  pipelines/tikv/pd/latest/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/latest/pod-pull_integration_realcluster_test.yaml
  pipelines/tikv/pd/release-6.5-fips/pod-ghpr_build.yaml
  pipelines/tikv/pd/release-6.5/pod-ghpr_build.yaml
  pipelines/tikv/pd/release-7.1/pod-ghpr_build.yaml
  pipelines/tikv/pd/release-7.1/pod-pull_integration_copr_test.yaml
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2707 fix: use internal dind image
  jenkins/pipelines/cd/pre-release-check.groovy
  jenkins/pipelines/cd/release-check.groovy
Labels: approved, lgtm, size/XS

#2709 feat: add tiproxy for v7.6.0 later
  jenkins/pipelines/cd/tiup/tiup-package-offline-mirror-6.0.0.groovy
Labels: approved, lgtm, size/XS

#2711 feat(tidb): add plugin test on build job for v6.1.x and v6.5.x
  pipelines/pingcap/tidb/release-6.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_build.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines
