Repository PingCAP-QE/ci, pull requests merged in 2023-08, with the labels that each got.

#2324 feat: tidb split release-7.3 jobs
  jobs/pingcap/tidb/release-7.3/aa_folder.groovy
  jobs/pingcap/tidb/release-7.3/ghpr_build.groovy
  jobs/pingcap/tidb/release-7.3/ghpr_check.groovy
  jobs/pingcap/tidb/release-7.3/ghpr_check2.groovy
  jobs/pingcap/tidb/release-7.3/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-7.3/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.3/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.3/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.3/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.3/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.3/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.3/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-7.3/pull_br_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-7.3-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2326 feat: tikv cache image add release-7.3
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Labels: approved, lgtm, size/XS

#2325 feat: tiflow split release 7.3 jobs
  jobs/pingcap/tiflow/release-7.3/aa_folder.groovy
  jobs/pingcap/tiflow/release-7.3/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-7.3/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-7.3/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-7.3/pull_cdc_integration_test.groovy
  jobs/pingcap/tiflow/release-7.3/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-7.3/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-7.3/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.3/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.3/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.3/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.3/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-release-7.3-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2327 chore(tiflow): disable trigger old pipeline on release 5.3 & 5.4
  jenkins/jobs/ci2/pingcap/tiflow/dm_ghpr_compatibility_test.groovy
  jenkins/jobs/ci2/pingcap/tiflow/dm_ghpr_integration_test.groovy
Labels: approved, lgtm

#2328 chore(tidb/br): only run pull-br it before merge
  prow-jobs/pingcap-tidb-release-7.3-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2329 feat(build): bump go vesion to 1.20.7 & 1.19.11
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Labels: approved, lgtm, size/S

#2330 chore(tidb/br): remove run_before_merge on release-7.3
  prow-jobs/pingcap-tidb-release-7.3-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2332 chore: update nightly version to v7.4.0-alpha
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-test-new.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-test.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-atom.groovy
Labels: approved, lgtm, size/M

#2333 chore: add 7.3 to daily build
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Labels: approved, lgtm, size/XS

#2334 fix(pingcap/tidb): make flaky and timecost reporting always
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2335 Revert "fix: use CI=1 for tidb make command"
  pipelines/pingcap/tidb/latest/canary-ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_build.groovy
  pipelines/pingcap/tidb/latest/ghpr_check.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/merged_build.groovy
  pipelines/pingcap/tidb/latest/merged_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_e2e_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_cdc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tidb/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2336 feat(tidb/br): refactor br it on postbumit
  jobs/pingcap/tidb/latest/merged_integration_br_test.groovy
  jobs/pingcap/tidb/latest/merged_integration_cdc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_cdc_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_br_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_cdc_test.yaml
  prow-jobs/pingcap-tidb-latest-postsubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2337 fix(tidb-test): correct restore cache path
  pipelines/pingcap/tidb-test/latest/ghpr_integration_common_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2338 chore(pingcap/tidb): run configuration changed pr notify on default cluster
  prow-jobs/pingcap-tidb-latest-presubmits-canary.yaml
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#2339 chore(pingcap/tidb): add notify receivers when congfiguration changed in PR
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2341 chore(pingcap/tidb): bump go version to `v1.21.0`
  jenkins/pipelines/ci/tidb/tidb_ghpr_build.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_check_2.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  jenkins/pipelines/ci/tidb/tidb_ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  staging/pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  staging/pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  staging/pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2344 feat(tidb): update go image
  pipelines/pingcap/tidb/latest/pod-ghpr_mysql_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2345 feat(tidb): update go image
  pipelines/pingcap/tidb/latest/pod-ghpr_mysql_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2342 feat(pipelines/pingcap/tidb/latest): enable coverage upload in job
  pipelines/pingcap/tidb/latest/ghpr_check.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2340 feat(tidb/br): upload br integration test coverage data
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2347 feat(build): support go1.21 from v7.4
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Labels: approved, lgtm, size/M

#2348 feat: tidb-test master use go1.21
  pipelines/pingcap/tidb-test/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb-test/latest/pod-ghpr_common_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-ghpr_integration_common_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-ghpr_integration_jdbc_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-ghpr_integration_mysql_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-ghpr_integration_prisma_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-ghpr_integration_python_orm_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-ghpr_integration_sequelize_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-pull_tiproxy_common_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-pull_tiproxy_jdbc_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-pull_tiproxy_mysql_connector_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-pull_tiproxy_mysql_test.yaml
  pipelines/pingcap/tidb-test/latest/pod-pull_tiproxy_ruby_orm_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2349 feat: add a go image in python-orm test pod template
  pipelines/pingcap/tidb/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_sequelize_test.groovy
  pipelines/pingcap/tidb/latest/merged_mysql_connector_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_integration_python_orm_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2350 feat(pd): update go version to 1.21
  pipelines/tikv/pd/latest/pod-ghpr_build.yaml
  pipelines/tikv/pd/latest/pod-pull_integration_copr_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2354 fix: go 1.21 on arm
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Labels: approved, lgtm, size/XS

#2356 remove invalid test from qa_release_test.groovy
  jenkins/pipelines/qa_release_test.groovy
Labels: approved, lgtm, size/S

#2358 feat(build): multi branch build support go1.21
  jenkins/pipelines/cd/multibranch/build_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_dm_from_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_pd_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_test_multi_branch.groovy
Labels: approved, lgtm, size/L

#2359 fix(build): fix build dm multi branch fail
  jenkins/pipelines/cd/multibranch/build_dm_from_cdc_multi_branch.groovy
Labels: approved, lgtm, size/L

#2360 fix(tikv/pd): should not tar all files for pd-server.tar.gz
  jenkins/pipelines/ci/pd/pd_ghpr_build.groovy
  jenkins/pipelines/ci/tikv/pd/pd_ghpr_build.groovy
  pipelines/tikv/pd/latest/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5/ghpr_build.groovy
  pipelines/tikv/pd/release-7.1/ghpr_build.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2300 feat: update trigger condition for jobs of tidb
  prow-jobs/pingcap-tidb-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.3-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.4-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.6-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.0-presubmits.yaml
  prow-jobs/pingcap-tidb-release-7.2-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#2204 fix: set limit to avoid excessive resource usage of golangci-lint
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_check.groovy
Labels: approved, lgtm, size/S

#2363 fix: node selector for tiflow operator
  jenkins/pipelines/cd/tiflow-operator-docker.groovy
Labels: approved, lgtm, size/XS

#2362 fix(tiflash): run format check first to avoid git lock error
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
Labels: approved, lgtm, size/XS

#2365 Update release-tidb-dashboard.groovy
  jenkins/pipelines/cd/release-tidb-dashboard.groovy
Labels: approved, lgtm, needs-ok-to-test, size/XS

#2366 chore(br): disable failfst on br integration test
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
Labels: approved, lgtm, size/XS

#2357 feat: change GA/Hotfix GCR tag by plan
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/release-GA.groovy
Labels: approved, lgtm, size/S

#2352 feat(tiflow): dm upgrade go version to 1.21
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2353 feat(tiflow): cdc upgrade go version to 1.21
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_engine_integration_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2367 fix(build): add nodeselector
  jenkins/pipelines/cd/tiflow-docker.groovy
  jenkins/pipelines/cd/tiflow-operator-docker.groovy
  jenkins/pipelines/cd/tiproxy-docker.groovy
Labels: approved, lgtm, size/XS

#2368 tiproxy: install git
  jenkins/pipelines/cd/tiproxy-docker.groovy
Labels: approved, lgtm, needs-ok-to-test, size/XS

#2297 feat(tiflow): split tiflow storage test on v7.1.0
  jobs/pingcap/tiflow/release-7.1.0/aa_folder.groovy
  jobs/pingcap/tiflow/release-7.1.0/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.1.0/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.1.0/pull_cdc_integration_storage_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1.0-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2371 feat(pingcap/tidb) report build url info for flaky and case time report records
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
  scripts/plugins/report-flaky-cases.ts
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2372 split importinto real-tikv test into multiple directory
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2373 chore(tiflow): adjust timeout for dm test
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2374 Update titan CI to not pass rocksdb dir
  jenkins/pipelines/ci/titan/titan_ghpr_test.groovy
Labels: approved, lgtm, ok-to-test, size/M

#2375 feat(br): br old it pipeline support go1.21
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_build_new3.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_check.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_integration.groovy
  jenkins/pipelines/ci/tidb-binlog/binlog_ghpr_unit_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_build.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_mysql_test.groovy
  jenkins/pipelines/goversion-select-lib.groovy
Labels: approved, lgtm, size/M

#2380 feat(tiflash): install clang-format-15 if not exist
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
Labels: approved, lgtm, size/S

#2381 fix(tiproxy): escape error
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2382 fix(pingcap/community): fix sync owners deno script
  scripts/pingcap/community/update-prow-owners.ts
Labels: approved, lgtm, size/S

#2384 feat(tidb): support prisma-test in presubmit
  jobs/pingcap/tidb/latest/pull_integration_prisma_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_integration_prisma_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_prisma_test.groovy
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2385 chore(tidb): enable report status of pull-integration-prisma-test
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2387 Update pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2386 feat(tools): add tool to list go dependencies
  tools/list-go-dependencies/README.md
  tools/list-go-dependencies/go.mod
  tools/list-go-dependencies/go.sum
  tools/list-go-dependencies/main.go
Labels: approved, lgtm, size/XL

#2389 fix(tidb-test): correct code cache key mismatch
  pipelines/pingcap/tidb-test/latest/ghpr_integration_prisma_test.groovy
  pipelines/pingcap/tidb-test/latest/ghpr_integration_sequelize_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2392 fix(pd): Update kustomization.yaml
  prow-jobs/kustomization.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2390 feat: add jq and pd-recover according to plan
  jenkins/Dockerfile/release/linux-amd64/pd
Labels: approved, lgtm, size/XS

#2391 fix(build): upload sha1 after all build successfully
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
Labels: approved, lgtm, size/XL

#2376 feat(tiproxy): add more tiproxy tests
  jobs/pingcap/tiproxy/latest/merged_integration_prisma_test.groovy
  jobs/pingcap/tiproxy/latest/merged_integration_python_orm_test.groovy
  jobs/pingcap/tiproxy/latest/merged_integration_sequelize_test.groovy
  jobs/pingcap/tiproxy/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_sequelize_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_sqllogic_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_prisma_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_sequelize_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_sqllogic_test.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2393 chore(tiproxy): make some it test ci optional
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2369 feat(br): support refactor br-integration-test ci on lts branch
  jobs/pingcap/tidb/release-6.1/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.1/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-6.1/pull_br_integration_test.groovy
  prow-jobs/pingcap-tidb-release-6.1-presubmits.yaml
  scripts/pingcap/tidb/br-lightning_run_group.sh
  scripts/pingcap/tidb/br_integration_test_download_dependency.sh
Labels: approved, lgtm, size/XL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2394 fix(tidb): archive the mysql test fail log
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.1/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.2/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.3/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.4/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.6/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_mysql_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2395 fix(br): fix error on br-it ci on release-6.1
  pipelines/pingcap/tidb/release-6.1/pull_br_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2397 fix(br): fix group value error
  pipelines/pingcap/tidb/release-6.1/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_br_integration_test.groovy
  scripts/pingcap/tidb/br-lightning_run_group_v2.sh
Labels: approved, lgtm, size/S, area/jenkins-pipelines
