Repository PingCAP-QE/ci, pull requests merged in 2024-09, with the labels that each got.

#3101 Update latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3102 Update latest-presubmits.yaml to add more trigger for lightning
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3099 docs-pdf: remove v5.2 and v8.0 as they are archived
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
Labels: approved, lgtm, ok-to-test, size/XS, area/jobs/prow

#3103 update latest-presubmits.yaml to add trigger of infoschema pkg
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3053 chore(br,dm): delete jenkins/pipelines/ci/br and jenkins/pipelines/ci/dm folder
  jenkins/pipelines/ci/br/br_check_release_note.groovy
  jenkins/pipelines/ci/br/br_dbaas_auto_test.groovy
  jenkins/pipelines/ci/br/br_ghpr_build.groovy
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
  jenkins/pipelines/ci/br/br_s3_auto_test.groovy
  jenkins/pipelines/ci/dm/dm_compatibility_test.groovy
  jenkins/pipelines/ci/dm/dm_ghpr_new_test.groovy
Labels: approved, lgtm, size/XXL

#3104 Revert "fix: not to set jnlp conf in pod file"
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#3106 fix: not to set jnlp conf in pod file
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#3107 feat: cache build in tiflash pipeline
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#3110 Accomodate rocksdb 8.10
  jenkins/pipelines/ci/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rocksdb/rocksdb_ghpr_test.groovy
Labels: approved, lgtm, size/XS

#3111 feat(tiflow): support downloading dependencies from a specified branch
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
Labels: do-not-merge/hold, approved, lgtm, size/L, area/jenkins-pipelines

#3098 feat: refactor pd ut pipelines
  jobs/tikv/pd/latest/pull_unit_test.groovy
  pipelines/tikv/pd/latest/pod-pull_unit_test.yaml
  pipelines/tikv/pd/latest/pull_unit_test.groovy
  prow-jobs/tikv/pd/latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3113 fix: change tikv wip it job name
  jobs/tikv/tikv/latest/pull_integration_test.groovy
  jobs/tikv/tikv/release-6.1/pull_integration_test.groovy
  jobs/tikv/tikv/release-6.5/pull_integration_test.groovy
  jobs/tikv/tikv/release-7.1/pull_integration_test.groovy
  jobs/tikv/tikv/release-7.5/pull_integration_test.groovy
  jobs/tikv/tikv/release-8.1/pull_integration_test.groovy
Labels: approved, lgtm, size/S, area/jobs/jenkins-DSL

#3114 fix: fix pod yaml file name
  pipelines/tikv/tikv/latest/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-6.1/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-6.5/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-7.1/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-7.5/pod-pull_integration_test.yaml
  pipelines/tikv/tikv/release-8.1/pod-pull_integration_test.yaml
Labels: approved, lgtm, area/jenkins-pipelines

#3116 feat: switch to use new pipeline trigger by prow in branch 8.1
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
  prow-jobs/pingcap/tiflash/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3117 feat: add retry and check binary
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_nodejs_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_python_orm_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#3118 feat(tiproxy): print pr info in pipeline details
  pipelines/pingcap/tiproxy/latest/ghpr_build.groovy
  pipelines/pingcap/tiproxy/latest/ghpr_check.groovy
  pipelines/pingcap/tiproxy/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_ruby_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_connector_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3120 feat: print pr info in pipeline details
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_build.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_nodejs_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_python_orm_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_common_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_jdbc_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_mysql_connector_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pull_tiproxy_ruby_orm_test.groovy
Labels: approved, lgtm, size/M

#3121 fix: update pd wip ut pipeline
  pipelines/tikv/pd/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3126 ci(ti-community-infra/configs): remove archived repo from sync list
  prow-jobs/ti-community-infra/configs/postsubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3125 Fix RocksDB CI
  jenkins/pipelines/ci/rocksdb/rocksdb_ghpr_test.groovy
  jenkins/pipelines/ci/tikv/rocksdb/rocksdb_ghpr_test.groovy
Labels: approved, lgtm, size/M

#3130 feat(lib): support checkout to pr commit sha
  libraries/tipipeline/vars/component.groovy
Labels: approved, lgtm, size/XS

#3132 fix(scripts/flow/ga): fix release note detail list
  scripts/flow/ga/create_github_release.ts
Labels: approved, lgtm, size/XS

#3135 feat: switch to use new pipeline trigger by prow in branch 7.5
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
  prow-jobs/pingcap/tiflash/release-7.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3136 feat: switch to use new pipeline trigger by prow in branch 7.1
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
  prow-jobs/pingcap/tiflash/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3142 fix(tiflash&tikv): disable old jobs trigger on feature branch
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Labels: approved, lgtm

#3143 refactor(canary): use new base ci image
  pipelines/pingcap/tidb/latest/canary-ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pod-canary-ghpr_unit_test.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-canary.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines, area/jobs/prow

#3144 fix(canary): fix pod vol
  pipelines/pingcap/tidb/latest/pod-canary-ghpr_unit_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3145 fix: vol fs group
  pipelines/pingcap/tidb/latest/pod-canary-ghpr_unit_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3146 feat(tidb): add another merged ddlv1 ut pipeline
  jobs/pingcap/tidb/latest/merged_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test_ddlv1.groovy
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3147 opt: use mirror to download bazel
  pipelines/pingcap/tidb/latest/pod-canary-ghpr_unit_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3149 chore(lib): increase refreash time for lib cache
  jobs/pingcap/aa_folder.groovy
Labels: approved, lgtm, size/XS, area/jobs/jenkins-DSL

#3150 feat(tidb): add ddlv1 unit test pipeline
  jobs/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow
