Repository PingCAP-QE/ci, pull requests merged in 2024-11, with the labels that each got.

#3198 feat(tiflow): split release 8.5 jobs for tiflow
  jobs/pingcap/tiflow/release-8.5/aa_folder.groovy
  jobs/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3197 feat(tiflash&tikv): split release 8.5 jobs for tiflash and tikv
  jobs/pingcap/tiflash/release-8.5/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.5/merged_build.groovy
  jobs/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  jobs/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.5/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.5/aa_folder.groovy
  jobs/tikv/tikv/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_build.groovy
  pipelines/pingcap/tiflash/release-8.5/merged_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.5/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
  prow-jobs/pingcap/tiflash/release-8.5-postsubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3200 fix(cd): correct fetch version from tiflow branch
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Labels: approved, lgtm, size/XS

#3201 chore(tiflash): use clang-format in image
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3203 feat(pd): adjust trigger for branch release-6.5-20241101-v6.5.7
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/pd/release-6.5-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3206 feat(tikv/raft-engine): enable ci for raft-engine
  OWNERS_ALIASES
  prow-jobs/tikv/raft-engine/OWNERS
  prow-jobs/tikv/raft-engine/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3207 feat(lib): use git shallow clone for lib cache
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Labels: approved, lgtm, size/M, area/jobs/jenkins-DSL

#3208 fix(ticdc): update env for debezium test
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3210 fix(tidb-engine-ext): link git and registry cargo cache
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3213 fix(ticdc): update env for debezium test for release-8.5
  pipelines/pingcap/tiflow/release-8.5/pod-pull_cdc_integration_kafka_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3214 fix(tikv/raft-engine): limit job on master branche
  prow-jobs/tikv/raft-engine/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3219 chore(tiflash): update CI/CD pipelines
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3212 feat(tidb-engine-ext): Mount the necessary cargo home cache directory
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/release-6.1-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3215 feat(script): add s3 object monitor clean script
  scripts/plugins/monitor-s3-object-size.ts
Labels: approved, lgtm, size/XL

#3221 fix(tidb): correct pod yaml path
  pipelines/pingcap/tidb/release-8.5/pull_unit_test_ddlv1.groovy
Labels: approved, lgtm, size/XS

#3222 Update tag-rc2ga-on-repos.sh
  scripts/artifacts/tag-rc2ga-on-repos.sh
Labels: size/XS

#3223 Update create_github_release.ts
  scripts/flow/ga/create_github_release.ts
Labels: size/S

#3224 Update check-tiup.ts
  scripts/flow/rc/check-tiup.ts
Labels: size/XS

#3225 Update check-tiup.sh
  scripts/artifacts/check-tiup.sh
Labels: size/XS

#3226 chore(check-scipts): remove binlog from v8.4
  scripts/ops/release-check-version/check_offline_package.py
Labels: approved, lgtm, size/XS

#3227 feat: disable fail fast for image check
  scripts/ops/release-check-version/main.py
Labels: approved, lgtm, size/M

#3202 fix(cd): disable stale jobs
  jenkins/jobs/cd/br_tiup_mirror_update.groovy
  jenkins/jobs/cd/build_tidb_dashboard.groovy
  jenkins/jobs/cd/build_tiflash/master.groovy
  jenkins/jobs/cd/cdc_tiup_mirror_update.groovy
  jenkins/jobs/cd/community_docker_multi_products.groovy
  jenkins/jobs/cd/dumpling_tiup_mirror_update.groovy
  jenkins/jobs/cd/grafana_tiup_mirror_update.groovy
  jenkins/jobs/cd/lightning_tiup_mirror_update.groovy
  jenkins/jobs/cd/multi_arch_sync_docker.groovy
  jenkins/jobs/cd/optimization_build_tidb.groovy
  jenkins/jobs/cd/pre_release_check.groovy
  jenkins/jobs/cd/pre_release_community_docker_rocky.groovy
  jenkins/jobs/cd/pre_release_docker.groovy
  jenkins/jobs/cd/pre_release_docker_rocky_sync.groovy
  jenkins/jobs/cd/pre_release_enterprise_docker.groovy
  jenkins/jobs/cd/pre_release_enterprise_docker_rocky.groovy
  jenkins/jobs/cd/pre_release_tiup.groovy
  jenkins/jobs/cd/prometheus_tiup_mirror_update.groovy
  jenkins/jobs/cd/publish_tidb_dashboard.groovy
  jenkins/jobs/cd/release_GA.groovy
  jenkins/jobs/cd/release_GA_v5_extra_packages.groovy
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
  jenkins/jobs/cd/release_tidb_master_tiup_nightly.groovy
  jenkins/jobs/cd/tiflash_tiup_mirror_update.groovy
  jenkins/jobs/cd/tiflow_docker.groovy
  jenkins/jobs/cd/tiflow_operator_docker.groovy
  jenkins/jobs/cd/tiup_mirror_online_ga.groovy
  jenkins/jobs/cd/tiup_mirror_online_rc.groovy
  jenkins/jobs/cd/tiup_mirror_test.groovy
  jenkins/jobs/cd/tiup_package_offline_mirror_dm.groovy
  jenkins/jobs/cd/tiup_package_offline_mirror_v6_0_0.groovy
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_tiflash_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3231 fix: correct folder lib jobdsl error
  jobs/pingcap-inc/aa_folder.groovy
  jobs/pingcap-qe/aa_folder.groovy
  jobs/pingcap/aa_folder.groovy
  jobs/tikv/aa_folder.groovy
Labels: approved, lgtm, area/jobs/jenkins-DSL

#3233 Update periodics.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3236 chore: add python-orm trigger for 8.5
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.4-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3235 chore(jenkins): remove the deprecated CI jobs
  jenkins/jobs/ci2/tikv/importer/ghpr_build.groovy
  jenkins/jobs/ci2/tikv/importer/ghpr_test.groovy
  jenkins/pipelines/ci/importer/importer_ghpr_build.groovy
  jenkins/pipelines/ci/importer/importer_ghpr_test.groovy
  jenkins/pipelines/ci/tidb-and-tools/tidb_and_tools_e2e_test.groovy
  jenkins/pipelines/nightly/tidb/tidb_nightly_unit_test.groovy
Labels: approved, lgtm, size/XXL

#3239 feat(tidb): enable trigger for tidb pull-integration-e2e-test
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3238 fix(scripts/artifacts): fix check-tiup.sh
  scripts/artifacts/check-tiup.sh
  scripts/artifacts/tag-rc2ga-on-repos.sh
  scripts/flow/ga/create_github_release.ts
Labels: approved, lgtm, size/L

#3240 fix(tiflow): compatible with the Go version requirements on the base branch.
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-6.5-20241101-v6.5.7/pull_dm_compatibility_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3241 feat(scripts/flow/ga): add GA flow script for create patch release branches on some repos
  scripts/flow/ga/create-patch-release-branches.ts
Labels: approved, lgtm, size/L

#3243 feat(qa-release-test): add tidb-tools integration test for qa-release-test
  jobs/pingcap/tidb/release-8.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_integration_tidb_tools_test.groovy
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3245 feat: add python orm test in master verify
  jobs/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
Labels: approved, lgtm, size/L

#3247 fix: build tidb-tools with go1.21
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-6.5/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-6.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_tidb_tools_test.yaml
  pipelines/pingcap/tidb/release-7.1/pull_integration_tidb_tools_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3248 fix: run tidb-tools integration-test with go1.21
  pipelines/pingcap/tidb/release-6.1/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_tidb_tools_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_tidb_tools_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3249 feat: try codecov test-analystic on tiflow
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3250 fix(scripts/flow/rc): fix artifacts check scripts
  scripts/flow/ga/create_github_release.ts
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/check-tiup.ts
Labels: approved, lgtm, size/M

#3251 chore: disable trigger for all lts and hotfix branch
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Labels: do-not-merge/hold, approved, lgtm, size/M

#3252 feat(tidb-tools): use go1.23 for tidb-tools in master
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_unit_test.groovy
Labels: approved, lgtm, size/S

#3253 feat(tidb-tools): use go1.23 for tidb-tools in master
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_unit_test.groovy
Labels: approved, lgtm

#3255 chore(tidb-tools): disable old tidb-tools jobs
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
Labels: approved, lgtm

#3256 fix(scripts): fix script to sync OWNERS file
  scripts/pingcap/community/update-prow-owners.ts
Labels: approved, lgtm, size/S

#3259 docs: change the cloud doc branch to release-8.1 for PDF output
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Labels: approved, lgtm, ok-to-test, size/XS, area/jenkins-pipelines

#3254 chore(tidb-tools): pod-pull_verify.yaml
  pipelines/pingcap/tidb-tools/latest/pod-pull_verify.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3260 chore: remove wip for test pull-integration-e2e-test on 8.5
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3261 fix(pingcap/tidb): fix canary job triggers
  prow-jobs/pingcap/tidb/latest-presubmits-canary.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3262 fix(libraries): enhance the base global method `computeBranchFromPR`
  libraries/tipipeline/vars/component.groovy
Labels: approved, lgtm, size/M

#3263 fix: bump docker dind versin to 20.10.24
  pipelines/pingcap/tiflash/release-6.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_integration_test.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3264 chore(libraries): rename params and local vars
  libraries/tipipeline/vars/component.groovy
Labels: approved, lgtm, size/M
