Repository PingCAP-QE/ci, pull requests merged in 2024-05, with the labels that each got.

#2954 chore(tiproxy): apply prow-jobs to all branches
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#2956 fix(scripts/pingcap/community): add sign-off in commit message
  scripts/pingcap/community/update-prow-owners.ts
Labels: approved, lgtm, size/XS

#2958 refactor(jenkins/pipelines,pipelines): use the new dockerfile url location
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2959 Revert "refactor(jenkins/pipelines,pipelines): use the new dockerfile url location"
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2961 fix(pingcap/*docs*): fix pip3 install issue
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2960 refactor(jenkins/pipelines,pipelines): use the new dockerfile url location
  jenkins/pipelines/cd/atom-jobs/docker-common.groovy
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2962 Revert "refactor(jenkins/pipelines,pipelines): use the new dockerfile url location"
  jenkins/pipelines/cd/atom-jobs/docker-common.groovy
  jenkins/pipelines/cd/atom-jobs/products/tiflash/master.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/pre-release-community-docker-rocky.groovy
  jenkins/pipelines/cd/pre-release-enterprise-docker-rocky.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_test.groovy
Labels: area/jenkins-pipelines

#2964 Update sync diff version in ci test
  jenkins/pipelines/ci/ticdc/integration_test_common.groovy
Labels: approved, lgtm, size/XS

#2965 update utf go build image
  jenkins/pipelines/utf-ci/utf-go-build.groovy
Labels: approved, lgtm, size/XS

#2968 docs: bump pdf stable version to release-8.1
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  prow-jobs/pingcap-docs-cn-postsubmits.yaml
  prow-jobs/pingcap-docs-postsubmits.yaml
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/jenkins-pipelines, area/jobs/prow

#2972 fix(scripts): fix update-prow-owners.ts
  scripts/pingcap/community/update-prow-owners.ts
Labels: approved, lgtm, size/XS

#2973 cdc: fix sync diff version
  scripts/pingcap/tiflow/release-6.5/ticdc_download_integration_test_binaries.sh
Labels: approved, lgtm, size/XS

#2977 Update README.md
  README.md
Labels: size/XS

#2978 fix(docs&docs-cn): update to image with pre install python3 packages
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-cn/latest/pod-merged_update_docs_cn.yaml
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  pipelines/pingcap/docs/latest/pod-merged_update_docs.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2979 chore: update deprecated domain name
  jenkins/pipelines/ci/ticdc/engine_ghpr_integration_test.groovy
  jenkins/pipelines/ci/tidb-test/tidb_test_ghpr_integration_test.groovy
Labels: approved, lgtm

#2969 k8s docs: bump pdf stable version to release-1.6
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
Labels: approved, lgtm, ok-to-test, size/XS, area/jenkins-pipelines
