Repository PingCAP-QE/ci, pull requests merged in 2024-10, with the labels that each got.

#3137 feat(tiflow): tiflow master bump go version to 1.23
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_engine_integration_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3140 feat(pd): pd master bump go version to 1.23
  pipelines/tikv/pd/latest/pod-ghpr_build.yaml
  pipelines/tikv/pd/latest/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/latest/pod-pull_integration_realcluster_test.yaml
  pipelines/tikv/pd/latest/pod-pull_unit_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3154 support go1.23 for tidb master branch
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  pipelines/pingcap/tidb/latest/pod-merged_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_br_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_lightning_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_tiflash_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_tiflash_test.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3155 fix Permission for go1.23
  jenkins/pipelines/ci/tidb/tidb_ghpr_coverage.groovy
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-periodics_integration_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3139 feat(tidb-test): tidb-test master bump go version to 1.23
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_build.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_nodejs_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_python_orm_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_mysql_connector_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_ruby_orm_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3141 feat(build): multi-branch build on master bump go version to 1.23
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/multibranch/build_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_dm_from_cdc_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_pd_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_test_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_tools_multi_branch.groovy
Labels: approved, lgtm, size/L

#3138 feat(tiproxy): tiproxy master bump go version to 1.23
  pipelines/pingcap/tiproxy/latest/pod-ghpr_build.yaml
  pipelines/pingcap/tiproxy/latest/pod-ghpr_check.yaml
  pipelines/pingcap/tiproxy/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_ruby_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_mysql_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_ruby_orm_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_connector_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_mysql_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_sqllogic_test.yaml
Labels: do-not-merge/hold, approved, lgtm, size/M, area/jenkins-pipelines

#3156 feat: support go1.23 for build-common
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Labels: approved, lgtm, size/XS

#3158 chore: increase resource for merged ut to increase stability
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_debug.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_check2_v2.yaml
  pipelines/pingcap/tidb/latest/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_unit_test.yaml
Labels: approved, lgtm, area/jenkins-pipelines

#3159 feat: add cache image build for 8.4
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Labels: approved, lgtm, size/XS

#3160 chore(pingcap/monitoring): update periodics.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3162 feat: tidb split release 8.4 jobs
  jobs/pingcap/tidb/release-8.4/aa_folder.groovy
  jobs/pingcap/tidb/release-8.4/pull_build.groovy
  jobs/pingcap/tidb/release-8.4/pull_check.groovy
  jobs/pingcap/tidb/release-8.4/pull_check2.groovy
  jobs/pingcap/tidb/release-8.4/pull_common_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_br_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_lightning_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_mysql_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_tiflash_test.groovy
  jobs/pingcap/tidb/release-8.4/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_check.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_check2.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_br_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_lightning_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-8.4/pod-pull_unit_test.yaml
  pipelines/pingcap/tidb/release-8.4/pull_build.groovy
  pipelines/pingcap/tidb/release-8.4/pull_check.groovy
  pipelines/pingcap/tidb/release-8.4/pull_check2.groovy
  pipelines/pingcap/tidb/release-8.4/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb/release-8.4-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3163 refactor(prow-jobs): refactor ci prow job kustomization generation
  .ci/update-prow-job-kustomization.sh
  prow-jobs/kustomization.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3161 feat: tiflow split release 8.4 jobs
  jobs/pingcap/tiflow/release-8.4/aa_folder.groovy
  jobs/pingcap/tiflow/release-8.4/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.4/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.4/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/release-8.4-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3165 feat: support build for v8.4
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-atom.groovy
Labels: approved, lgtm, size/S

#3166 chore: fix for nighlty build on tidb-binlog
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
Labels: approved, lgtm, size/S

#3167 fix: correct pod file path
  pipelines/pingcap/tidb/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3169 fix: fix pod file path
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
Labels: approved, lgtm, area/jenkins-pipelines

#3170 fix: use clang-format 15 after v7.4
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3171 fix(tiflash): user clang-format 15 after v7.4
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3173 feat(pd): display pr info on pipeline run
  pipelines/tikv/pd/latest/ghpr_build.groovy
  pipelines/tikv/pd/latest/pull_integration_copr_test.groovy
  pipelines/tikv/pd/latest/pull_integration_realcluster_test.groovy
  pipelines/tikv/pd/latest/pull_unit_test.groovy
  pipelines/tikv/pd/release-6.5-fips/ghpr_build.groovy
  pipelines/tikv/pd/release-6.5/ghpr_build.groovy
  pipelines/tikv/pd/release-7.1/ghpr_build.groovy
  pipelines/tikv/pd/release-7.1/pull_integration_copr_test.groovy
  pipelines/tikv/pd/release-8.1/ghpr_build.groovy
  pipelines/tikv/pd/release-8.1/pull_integration_copr_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3172 feat(tidb): enable ddlv1 ut pipeline
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3176 script: add find pod images script
  scripts/ops/find-all-pod-images.sh
Labels: approved, lgtm, size/M

#3177 fix(scripts/pingcap/community): fix /update-prow-owners.ts
  scripts/pingcap/community/update-prow-owners.ts
Labels: approved, lgtm, size/XS

#3178 chore: to use clang-format 12 for tiflash version less than v7.4
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
Labels: approved, lgtm, size/S

#3179 feat(tiflash & tikv): switch to use new pipeline trigger by prow in branch 7.1
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
  prow-jobs/pingcap/tiflash/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3180 pd: remove option from pd integration test
  prow-jobs/tikv/pd/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3183 chore: temporary disable failed job
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3184 feat: disable auto refresh cache image for master&8.4
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Labels: approved, lgtm, size/XS

#3190 fix(tiflash): set readonly to false to update cache in nfs
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3191 fix(script/flow/rc): fix flow check script
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/check-tiup.ts
Labels: approved, lgtm, size/S

#3188 feat(pd): update base image to use rockylinux 8
  pipelines/tikv/pd/latest/pod-ghpr_build.yaml
  pipelines/tikv/pd/latest/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/latest/pod-pull_integration_realcluster_test.yaml
  pipelines/tikv/pd/latest/pod-pull_unit_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3185 feat(tikv): start use rocky8 as base image since from 8.4
  pipelines/tikv/tikv/latest/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.4/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.4/pull_unit_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3193 fix(tiflash): correct build ccache path
  pipelines/pingcap/tiflash/latest/merged_build.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3194 fix(tiflash): enable ccache save in merged pipelines
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3196 chore(tiflash): remove building bench_dbms in master
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
Labels: approved, lgtm, size/XS

#3186 feat(tiflash): start use rocky8 as base image
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines
