Repository PingCAP-QE/ci, pull requests merged in 2024-04, with the labels that each got.

#2880 chore: update release check version pipeline
  jenkins/pipelines/cd/release_check_offline_version.groovy
  jenkins/pipelines/cd/release_check_version.groovy
  scripts/ops/release-check-version/create_components_json.py
  scripts/ops/release-check-version/example_components-v8.0.0.json
  scripts/ops/release-check-version/main.py
Labels: approved, lgtm, size/L

#2882 change lightning ci dir
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2883 fix: not set the limit memory
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2884 chore: change lightning ci dir
  pipelines/pingcap/tidb/latest/merged_integration_lightning_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2886 chore: clean existed cache in image then checkout
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
Labels: approved, lgtm, area/jenkins-pipelines

#2887 chore: update tiflash refactor ci image in master branch
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2889 feat(scripts/pingcap): add deno script `add-placeholder-version-in-readme.ts`
  scripts/pingcap/add-placeholder-version-in-readme.ts
Labels: approved, lgtm, size/L

#2890 fix: remove ruby_orm test for tiproxy
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2893 feat: add 8.1 tikv cache image build
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Labels: approved, lgtm, size/XS

#2896 chore(prow-jobs): update periodic job for monitoring
  prow-jobs/pingcap-monitoring-periodics.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2897 feat: daily internal build add release-8.1
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
Labels: approved, lgtm, size/XS

#2894 feat(tidb): tidb split release 8.1 jobs
  jobs/pingcap/tidb/release-8.1/aa_folder.groovy
  jobs/pingcap/tidb/release-8.1/ghpr_build.groovy
  jobs/pingcap/tidb/release-8.1/ghpr_check.groovy
  jobs/pingcap/tidb/release-8.1/ghpr_check2.groovy
  jobs/pingcap/tidb/release-8.1/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-8.1/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_br_integration_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_check.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_lightning_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-8.1-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2895 feat(tiflow): tiflow split release 8.1 jobs
  jobs/pingcap/tiflow/release-8.1/aa_folder.groovy
  jobs/pingcap/tiflow/release-8.1/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-8.1/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.1/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-release-8.1-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2885 feat: br ci support run_if_changed
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2899 Revert "feat: br ci support run_if_changed"
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2900 change trigger of lightning ci to include dependency pkg
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2902 fix(tiflash): adjust parallelism in ut from 16 to 12
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2904 chore: print pr info in pipelinerun
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/tikv/tikv/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2905 feat: add pipeline for tikv refactor ut in lts branch
  jobs/tikv/tikv/release-6.1/aa_folder.groovy
  jobs/tikv/tikv/release-6.1/pull_unit_test.groovy
  jobs/tikv/tikv/release-6.5/aa_folder.groovy
  jobs/tikv/tikv/release-6.5/pull_unit_test.groovy
  jobs/tikv/tikv/release-7.1/aa_folder.groovy
  jobs/tikv/tikv/release-7.1/pull_unit_test.groovy
  jobs/tikv/tikv/release-7.5/aa_folder.groovy
  jobs/tikv/tikv/release-7.5/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.1/aa_folder.groovy
  jobs/tikv/tikv/release-8.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-6.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-6.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-6.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-6.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.1/pull_unit_test.groovy
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines

#2906 feat: add two qa-release-test pipeline
  jenkins/jobs/ci/qa/qa_release_br_integration_test.groovy
  jenkins/jobs/ci/qa/qa_release_lightning_integration_test.groovy
  jenkins/pipelines/qa/qa-release-br-integration-test.groovy
  jenkins/pipelines/qa/qa-release-lightning-integration-test.groovy
Labels: approved, lgtm, size/XL

#2907 feat: add two qa-release-test pipeline
  jobs/qa/aa_folder.groovy
  jobs/qa/qa_release_br_integration_test.groovy
  jobs/qa/qa_release_lightning_integration_test.groovy
  pipelines/qa/qa-release-br-integration-test.groovy
  pipelines/qa/qa-release-lightning-integration-test.groovy
Labels: approved, lgtm, size/M, area/jobs/jenkins-DSL, area/jenkins-pipelines

#2909 Increase memory limit for TiFlash Proxy
  prow-jobs/pingcap-tidb-engine-ext-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2908 fix: checkout with tags
  pipelines/qa/qa-release-br-integration-test.groovy
  pipelines/qa/qa-release-lightning-integration-test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2911 feat(tikv): make tikv ut on master ready
  prow-jobs/tikv-tikv-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2910 chore: disable trigger on tikv old ut master branch
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
Labels: approved, lgtm, size/XS

#2913 feat(pingcap/tidb): support run_if_changed for br module
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2915 feat(docs&docs-cn): enable upload pdf and context report
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  prow-jobs/pingcap-docs-cn-postsubmits.yaml
  prow-jobs/pingcap-docs-postsubmits.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines, area/jobs/prow

#2916 chore(docs&docs-cn): print branch info in docs merged pipeline
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2918 feat(docs-tidb-operator): add docs tidb operator merged pipeline
  jobs/pingcap/docs-tidb-operator/aa_folder.groovy
  jobs/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/pod-merged_update.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-docs-tidb-operator-postsubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2919 chore(pingcap/tiproxy): delete the old cd jobs
  jobs/pingcap/tiproxy/cd/OWNERS
  jobs/pingcap/tiproxy/cd/latest/release_tiproxy_tiup.groovy
  pipelines/pingcap/tiproxy/cd/OWNERS
  pipelines/pingcap/tiproxy/cd/latest/pod-go-amd64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-go-arm64.yaml
  pipelines/pingcap/tiproxy/cd/latest/pod-tiup.yaml
  pipelines/pingcap/tiproxy/cd/latest/release-tiproxy-tiup.groovy
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines

#2917 tikv: run coverage test with nextest and ignore corrupted profile files
  jenkins/pipelines/ci/tikv/tikv_ghpr_coverage.groovy
Labels: approved, lgtm, size/XS

#2920 chore: enable trigger for new tikv ut on lts branch
  pipelines/tikv/tikv/release-6.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-6.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.1/pull_unit_test.groovy
  pipelines/tikv/tikv/release-7.5/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.1/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv-tikv-release-6.5-presubmits.yaml
  prow-jobs/tikv-tikv-release-7.1-presubmits.yaml
  prow-jobs/tikv-tikv-release-7.5-presubmits.yaml
  prow-jobs/tikv-tikv-release-8.1-presubmits.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines, area/jobs/prow

#2921 chore(tiflash): revert to use llvm13 image on master
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2922 chore(tikv): reduce cpu request to 6 core on tikv ut
  pipelines/tikv/tikv/release-6.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-7.5/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.1/pod-pull_unit_test.yaml
Labels: approved, lgtm, area/jenkins-pipelines

#2923 fix(old-cd): workaround cargo fetching failure for git type crates
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Labels: approved, lgtm, size/XS

#2924 fix(scripts/pingcap): fix regexp in file add-placeholder-version-in-readme.ts
  scripts/ops/statics-repo-code-lines.ts
  scripts/pingcap/add-placeholder-version-in-readme.ts
Labels: approved, lgtm, size/XS

#2926 fix(docs-tidb-operator): update build pdf script
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2927 chore(docs-tidb-operator): enable pdf upload and pipeline context report
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  prow-jobs/pingcap-docs-tidb-operator-postsubmits.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines, area/jobs/prow

#2929 chore(dm): use target branch to downloda tidb binary
  jenkins/pipelines/ci/ticdc/dm_ghpr_compatibility_test.groovy
Labels: approved, lgtm, size/XS

#2928 fix(br): use failpoint tidb-server instead
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_br_integration_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2930 feat(scripts): add scripts parse jenkins build log
  scripts/ops/parse-jenkins-build-log/main.py
  scripts/ops/parse-jenkins-build-log/requirements.txt
Labels: approved, lgtm, size/L

#2898 chore: bump nightly version to v8.2.0-alpha
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-atom.groovy
Labels: approved, lgtm, size/S

#2932 increase ticdc pulsar integration test resource
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2934 increase ticdc kafka integration test resource
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2936 fix(br): use failpoint tidb-server instead
  jenkins/pipelines/ci/br/br_ghpr_unit_and_integration_test.groovy
Labels: approved, lgtm, size/S

#2937 fix(scripts/pingcap): fix script of adding version placeholder
  scripts/pingcap/add-placeholder-version-in-readme.ts
Labels: approved, lgtm, size/XS

#2939 fix: upadte new ut on tikv 6.1
  libraries/tipipeline/vars/component.groovy
  pipelines/tikv/tikv/release-6.1/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-6.1/pull_unit_test.groovy
  scripts/tikv/tikv/release-6.1/gen_test_binary.py
Labels: approved, lgtm, size/XL, area/jenkins-pipelines

#2941 feat(scripts/aritfacts): add scripts to check internal images
  scripts/artifacts/check-images-internal.sh
Labels: approved, lgtm, size/L

#2942 feat(tidb): test flashbacktest package
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2943 feat: enable report and trigger on tiflash master new pipeline
  prow-jobs/pingcap-tiflash-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2945 fix(pingcap/ng-monitoring): fix the base_ref arg for create pull request on pingcap/monitoring
  prow-jobs/pingcap-ng-monitoring-postsubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2946 chore(tiflash): retry only after get src code cache from ks3
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2944 feat: disable old pipeline trigger on tiflash master
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
Labels: approved, lgtm, size/XS

#2948 fix: Restrict the node nodes for Pod scheduling
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2947 fix(tiflash): correct the dir to collect log
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#2950 fix(br): use failpoint tidb-server instead
  pipelines/qa/qa-release-br-integration-test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2951 fix(br): use failpoint tidb-server instead
  pipelines/qa/qa-release-br-integration-test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines
