Repository PingCAP-QE/ci, pull requests merged in 2024-01, with the labels that each got.

#2712 Fix building tiflash using clang-17 docker image
  jenkins/pipelines/ci/tiflash/tiflash-build-common.groovy
Labels: approved, lgtm, size/XS

#2713 fix(pingcap/tidb): add plugin test stage
  pipelines/pingcap/tidb/latest/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_build.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#2714 tiproxy: add merged_mysql_test
  jobs/pingcap/tiproxy/latest/merged_mysql_test.groovy
Labels: approved, lgtm, size/M, area/jobs/jenkins-DSL

#2716 feat(fips-branch): update fips-branch ci download script
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/pingcap_download_artifacts.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_download_compatibility_test_binaries.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_download_integration_test_binaries.sh
  scripts/pingcap/tiflow/release-6.5-fips/ticdc_download_integration_test_binaries.sh
Labels: approved, lgtm, size/XL, area/jenkins-pipelines

#2717 fix: need download pd-ctl and pd-recover
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  scripts/pingcap/tidb/release-6.5-fips/br_integration_test_download_dependency.sh
  scripts/pingcap/tidb/release-6.5-fips/pingcap_download_artifacts.sh
  scripts/pingcap/tiflow/release-6.5-fips/dm_download_integration_test_binaries.sh
  scripts/pingcap/tiflow/release-6.5-fips/ticdc_download_integration_test_binaries.sh
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2718 fix: update binary path
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
Labels: approved, lgtm, size/XS

#2720 feat(scripts/ops): add script static-prow-jobs.ts
  scripts/ops/statics-prow-jobs.ts
Labels: approved, lgtm, size/L

#2724 chore: Remove unnecessary build and test stages
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2721 feat: support tidb dashboard for devbuild
  jenkins/jobs/cd/build_tidb_dashboard.groovy
  jenkins/pipelines/cd/build-tidb-dashboard.groovy
  jenkins/pipelines/cd/dev-build.groovy
  jenkins/pipelines/cd/publish-tidb-dashboard.groovy
Labels: approved, lgtm, size/L

#2725 fix: tidb-dashboard git ref
  jenkins/pipelines/cd/build-tidb-dashboard.groovy
  jenkins/pipelines/cd/dev-build.groovy
Labels: approved, lgtm, size/XS

#2719 fix: update build and test pipeline for TiFlash
  pipelines/pingcap/tiflash/latest/pull_build_and_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2726 feat(scripts/ops): add script to statics code line for repo
  scripts/ops/statics-repo-code-lines.ts
Labels: approved, lgtm, size/L

#2579 feature(scripts/ops): add script `cherry_pick_pull.sh`
  scripts/ops/cherry_pick_pull.sh
Labels: approved, lgtm, size/L

#2728 feat: update release-7.6 tikv cache image build
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Labels: approved, lgtm, size/XS

#2729 fix(tikv/migration): fix missing volume
  pipelines/tikv/migration/latest/pod-pull_integration_kafka_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2730 fix: fix tiup verison to 1.13
  jenkins/pipelines/cd/tiup-package-offline-mirror-dm.groovy
  jenkins/pipelines/cd/tiup/tiup_utils.groovy
Labels: approved, lgtm, size/XS

#2732 chore: adjust timeout for build
  pipelines/pingcap/tidb/latest/ghpr_build.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2733 chore: increase cpu request on build
  pipelines/pingcap/tidb/latest/pod-ghpr_build.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2731 feat(tidb): tidb split release 7.6 jobs
  jobs/pingcap/tidb/release-7.6/aa_folder.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_build.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_check.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_check2.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_mysql_test.groovy
  jobs/pingcap/tidb/release-7.6/ghpr_unit_test.groovy
  jobs/pingcap/tidb/release-7.6/pull_br_integration_test.groovy
  jobs/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_check2.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-ghpr_unit_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/release-7.6/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/release-7.6/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tidb-release-7.6-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2723 feat(tiflow): tiflow split release 7.6 jobs
  jobs/pingcap/tiflow/release-7.6/aa_folder.groovy
  jobs/pingcap/tiflow/release-7.6/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-7.6/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.6/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.6/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-release-7.6-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2734 fix: correct podtemplate file path
  pipelines/pingcap/tidb/release-7.6/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.6/pull_lightning_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2739 feat(tiflow): upload tiflow ut codecoverage if test passed
  pipelines/pingcap/tiflow/latest/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-6.5/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2740 ci: fix rust tool chain file name for rust-rocksdb
  jenkins/pipelines/ci/rust-rocksdb/rust_rocksdb_ghpr_test.groovy
Labels: approved, lgtm, size/XS

#2737 chore: bump nightly version
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jenkins/pipelines/cd/nightly/tiup-release-tidb-master-nightly.groovy
  jenkins/pipelines/cd/tiup/tiup-mirror-update-multi-products.groovy
  jenkins/pipelines/cd/tiup/tiup-online-mirror-atom.groovy
Labels: approved, lgtm, size/S

#2741 fix: operator git commit
  jenkins/pipelines/cd/tidb-operator.groovy
Labels: approved, lgtm, size/XS

#2742 fix(tidb-tools): download dumpling for inregration-tests instead of mydumper
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
Labels: approved, lgtm, size/M

#2743 fix(tidb-tools): chore fix
  jenkins/pipelines/ci/tidb-tools/tools_ghpr_integration_test.groovy
Labels: approved, lgtm, size/XS

#2744 feat(tiflow): add tiflow postsubmit
  jobs/pingcap/tiflow/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflow/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-tiflow-latest-postsubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2745 fix(tiflow): not upload to codecov on release branch
  pipelines/pingcap/tiflow/release-7.1/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-7.5/ghpr_verify.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2746 chore: upgrade tiup version
  jenkins/pipelines/cd/tiup-package-offline-mirror-dm.groovy
  jenkins/pipelines/cd/tiup/tiup_utils.groovy
Labels: approved, lgtm, size/XS

#2747 tiproxy: fix merged_mysql_test
  pipelines/pingcap/tiproxy/latest/merged_mysql_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2749 tiproxy: add nodejs test
  jobs/pingcap/tiproxy/latest/merged_integration_nodejs_test.groovy
  jobs/pingcap/tiproxy/latest/merged_integration_sequelize_test.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
  jobs/pingcap/tiproxy/latest/pull_integration_sequelize.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/merged_integration_prisma_test.groovy
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_prisma_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-merged_integration_sequelize_test.yaml
  pipelines/pingcap/tiproxy/latest/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tiproxy/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_mysql_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_sqllogic_test.groovy
  prow-jobs/pingcap-tiproxy-latest-postsubmits.yaml
  prow-jobs/pingcap-tiproxy-latest-presubmits.yaml
Labels: approved, lgtm, size/XL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2750 feat(monitoring): add job to auto update content for monitoring
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-monitoring-periodics.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#2751 fix(monitoring): fix job step on git push
  prow-jobs/pingcap-monitoring-periodics.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#2753 fix(tiflash): fix set CPU affinity failed in ut
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2748 tikv: fix code coverage script
  jenkins/pipelines/ci/tikv/tikv_ghpr_coverage.groovy
Labels: approved, lgtm, size/XS

#2754 feat(tidb): upload codecoverage to codecov in ut
  prow-jobs/pingcap-tidb-latest-periodics.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2755 fix(pingcap/monitoring): fix step in update content jobs
  prow-jobs/pingcap-monitoring-periodics.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2756 fix(pingcap/monitoring): fix step in update content jobs
  prow-jobs/pingcap-monitoring-periodics.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2757 tiproxy: fix container for nodejs test
  pipelines/pingcap/tiproxy/latest/merged_integration_nodejs_test.groovy
  pipelines/pingcap/tiproxy/latest/pull_integration_nodejs_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2759 feat(pingcap/monitoring): auto update files for release branches
  prow-jobs/pingcap-monitoring-periodics.yaml
Labels: approved, lgtm, area/jobs/prow

#2760 fix(tiflash ): correct env currentBuild.description
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Labels: approved, lgtm, area/jenkins-pipelines

#2762 make a larger timeout for enterprise-extension repo
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2708 feat(pingcap/docs): add presubmit job on pingcap/docs
  jobs/pingcap/docs/aa_folder.groovy
  jobs/pingcap/docs/latest/pull_verify.groovy
  pipelines/pingcap/docs/latest/pod-pull_verify.yaml
  pipelines/pingcap/docs/latest/pull_verify.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-docs-latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2764 feat(enterprise-extension): use better io nvme for pod
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2765 fix(docs): correct job name to match jobdsl
  prow-jobs/pingcap-docs-cn-latest-presubmits.yaml
  prow-jobs/pingcap-docs-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2766 tikv-migration: wait Kafka ready before test
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2767 Increase timeout for tiflow test
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2769 tikv-migration: collect logs with -maxdepth 2
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2771 feat(tiflow): skip ci on no-code pr for tiflow master branch
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2770 feat(tiflow): skip ci on no-code pr for toflow release branch
  prow-jobs/pingcap-tiflow-release-5.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-5.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-fips-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.1.0-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.2-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.3-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.4-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.5-presubmits.yaml
  prow-jobs/pingcap-tiflow-release-7.6-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#2772 feat(tiflow): skip ci on svg files for tiflow master branch
  prow-jobs/pingcap-tiflow-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2776 debug(tikv/migration): print node info for debug
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
  pipelines/tikv/migration/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2777 fix: fix and add some debug cmds
  pipelines/pingcap/docs-cn/latest/pull_verify.groovy
  pipelines/pingcap/docs/latest/pull_verify.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2778 tikv-migration: increase pipeline timeout
  pipelines/tikv/migration/latest/pull_integration_kafka_test.groovy
  pipelines/tikv/migration/latest/pull_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2779 fix(enterprise-plugin): adjust cmds
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2780 chore(tiflash): adjust pipeline name
  jobs/pingcap/tiflash/latest/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  prow-jobs/pingcap-tiflash-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2781 fix(prow-jobs): fix pr title for monitoring repo
  prow-jobs/pingcap-monitoring-periodics.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2783 chore(enterprise-extension): update pod and add pr info in description
  pipelines/pingcap-inc/enterprise-extensions/latest/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#2784 fix: set default container
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
Labels: approved, lgtm, area/jenkins-pipelines

#2785 fix(enterprise-extension): fix checkout not clean
  pipelines/pingcap-inc/enterprise-extensions/latest/pr-verify.groovy
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pod-pr-verify.yaml
  pipelines/pingcap-inc/enterprise-extensions/le-release-7.4/pr-verify.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2786 chore: remove useless container
  pipelines/pingcap/tidb/latest/pod-merged_tiflash_test.yaml
Labels: approved, lgtm, size/S

#2789 feat: enable docs & docs-cn presubmit
  prow-jobs/pingcap-docs-cn-latest-presubmits.yaml
  prow-jobs/pingcap-docs-latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#2790 feat: checkout enterprise-plugin with branch release-x.y.z
  libraries/tipipeline/vars/component.groovy
Labels: approved, lgtm, size/XS

#2791 feat: disable nightly pipeline
  jenkins/jobs/cd/release_tidb_master_tiup_nightly.groovy
Labels: approved, lgtm, size/XS

#2792 feat(scripts/ops): add insight script for pull requests
  scripts/ops/create-issues-for-tidb-flaky-tests.ts
  scripts/ops/create-issues-for-tidb-slow-tests.ts
  scripts/ops/insight-the-pr.ts
Labels: approved, lgtm, size/L

#2793 feat(prow-jbos): support for feature branch
  prow-jobs/pingcap-tidb-release-7.6-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2795 opt(pingcap/tidb): skip test plugins for feature branches
  pipelines/pingcap/tidb/latest/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_build.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines
