Repository PingCAP-QE/ci, pull requests merged in 2024-12, with the labels that each got.

#3257 opt(tikv/tikv): save CI resources for none-code changes
  prow-jobs/tikv/tikv/latest-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.2-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.3-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.4-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3265 feat(pingcap/tidb): support run ci tasks on release feature branches for v8.5
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3266 opt(tikv/pd): fix the pull_integration_copr_test job for [v7.4 ~ v8.4]
  pipelines/tikv/pd/release-8.1/pull_integration_copr_test.groovy
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines, area/jobs/prow

#3268 feat(tiflow): add periodics pipeline for cdc kafka test
  jobs/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/latest-periodics.yaml
Labels: approved, lgtm, size/XL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3271 fix(tiflow): tiflow periodics pipeline fix
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  prow-jobs/pingcap/tiflow/latest-periodics.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3272 chore(tiflow): add feishu notify
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  prow-jobs/pingcap/tiflow/latest-periodics.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines, area/jobs/prow

#3274 feat(tiflow): add periodics pipeline for cdc mysql test
  jobs/pingcap/tiflow/latest/periodics_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_mysql_test.yaml
  prow-jobs/pingcap/tiflow/latest-periodics.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3273 feat(tikv,pingcap): add lint job for community repos
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/community/postsubmits.yaml
  prow-jobs/pingcap/community/presubmits.yaml
  prow-jobs/tikv/community/presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3189 feat(tiflow): update base image to use rockylinux8
  pipelines/pingcap/tiflow/latest/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_engine_integration_test.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3192 feat(tidb): update base image to rocky linux8
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pod-ghpr_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_br_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_br_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_lightning_integration_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_mysql_client_test.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3276 chore: auto handle tidb-test pr support feature branch
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3277 chore(tidb): update to use rocky8 image
  pipelines/pingcap/tidb/latest/pod-merged_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_lightning_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_mysql_client_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_tiflash_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_tiflash_test.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3278 fix(tidb): correct script parameter passing
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3280 fix(tidb): prepare sqllogic test data in pod init
  pipelines/pingcap/tidb/latest/pod-merged_sqllogic_test.yaml
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3279 feat(pingcap-qe/ee-apps): add a scan job `pull-scan-deps`
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3281 chore(deps): bump tag image for security scan task
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3282 fix(pingcap-ee-apps): fix the limits and requests for scan job
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3283 feat(tidb-test): adjust image from centos7 to rocky8
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_integration_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/ghpr_mysql_test.groovy
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_build.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_integration_python_orm_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-ghpr_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_common_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_jdbc_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_mysql_test.yaml
  pipelines/PingCAP-QE/tidb-test/latest/pod-pull_tiproxy_ruby_orm_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3285 Revert "fix(tiflow): temp bypass qiniuyun block download"
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
Labels: approved, lgtm, size/M

#3287 chore: update scan dep job
  OWNERS
  OWNERS_ALIASES
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3289 chore: fix OWNERS
  OWNERS
  jobs/OWNERS
Labels: approved, lgtm, size/XS, area/jobs/jenkins-DSL

#3288 docs: update documents
  README.md
  docs/README.md
  docs/contributing.md
  docs/core-concepts.md
  docs/designs/README.md
  docs/guides/README.md
  docs/guides/docker-build.md
  docs/jobs/README.md
  docs/jobs/pingccap/tidb/ci-jobs-latest.md
  docs/jobs/pingccap/tidb/ci-jobs-v6.5.md
  docs/jobs/pingccap/tidb/ci-jobs-v7.1.md
  docs/jobs/pingccap/tiflow/ci-jobs-latest.md
  docs/jobs/pingccap/tiflow/ci-jobs-v7.1.md
  docs/jobs/pingccap/tiflow/ci-jobs-v7.2.md
  docs/jobs/tikv/pd/ci-jbos-v6.5.md
  docs/jobs/tikv/pd/ci-jobs-latest.md
  docs/jobs/tikv/tikv/ci-jobs-v6.5.md
Labels: approved, lgtm, size/L

#3291 refactor(pingcap-qe/ee-apps): concurrently run the scan jobs
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
Labels: approved, lgtm, area/jobs/prow

#3292 feat(pingcap/tidb): add a scan job pull-scan-deps
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, ok-to-test, size/M, area/jobs/prow

#3293 feat(scripts/flow/ga): add script check-image-delivery.ts
  scripts/artifacts/tag-rc2ga-on-repos.sh
  scripts/flow/ga/check-image-delivery.ts
Labels: approved, lgtm, size/L

#3296 feat: add pipelines for test v8.5.0 centos7 binary
  jobs/pingcap/tidb/release-8.5/pull_check2_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_common_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_e2e_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_br_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_common_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_copr_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_ddl_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_e2e_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_jdbc_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_lightning_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_mysql_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_nodejs_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_python_orm_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_integration_tidb_tools_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_mysql_client_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_mysql_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_sqllogic_test_centos.groovy
  jobs/pingcap/tidb/release-8.5/pull_tiflash_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pod-pull_check2_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_common_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_e2e_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_br_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_common_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_copr_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_ddl_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_e2e_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_jdbc_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_lightning_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_mysql_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_nodejs_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_python_orm_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_integration_tidb_tools_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_mysql_client_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_mysql_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_sqllogic_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pod-pull_tiflash_test_centos.yaml
  pipelines/pingcap/tidb/release-8.5/pull_check2_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_common_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_copr_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_e2e_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_jdbc_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_lightning_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_nodejs_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_tidb_tools_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_client_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_mysql_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_sqllogic_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_tiflash_test_centos.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb/release-8.5-centos-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3298 fix: fix print cdc version
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test_centos.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3300 fix(tiflow): engine image set go env GOTOOLCHAIN=auto
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.2/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.0/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.3/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test_centos.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3303 fix(tiflow/dm): use tini image to avoid zombie process
  pipelines/pingcap/tiflow/latest/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.0/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.3/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pod-pull_dm_integration_test.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3304 fix(scripts/flow/rc): fix rc scripts for github api request quota
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/check-tiup.ts
Labels: approved, lgtm, size/M

#3301 feat(script/flow/sprint): add create_github_alpha_tags.ts
  scripts/flow/sprint/create_github_alpha_tags.ts
Labels: approved, lgtm, size/XL, area/jenkins-pipelines

#3305 chore(tiflow): engine test set totoolchain to auto
  pipelines/pingcap/tiflow/latest/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3307 chore(tiflash): Change the concurrency of clang-tidy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines
