Repository PingCAP-QE/ci, pull requests merged in 2024-08, with the labels that each got.

#3045 feat(pingcap/tidb): intergration support feature branch and ci params in PR title
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3046 fix(scripts/artifacts): fix check-images-internal.sh
  scripts/artifacts/check-images-internal.sh
  scripts/artifacts/check-images-internal.ts
  scripts/artifacts/check-tiup.ts
  scripts/ops/search-lark-user-by-githubid.ts
Labels: approved, lgtm, size/XXL

#3047 chore: add support for feature branch build
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tiflash_multi_branch.groovy
Labels: approved, lgtm, size/S

#3049 fix(pingcap/tidb): mysql-test support batch merge in 8.1
  pipelines/pingcap/tidb/release-6.6/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.0/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_mysql_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3050 chore: support auto-handle in more branches
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3054 Add support branch for proxy
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3055 feat: add presubmit pipeline on 8.1
  jobs/pingcap/tidb/release-8.1/pull_common_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-8.1/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-8.1/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-8.1/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_tiflash_test.groovy
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3062 chore: add net-tool container
  pipelines/pingcap/tidb/release-8.1/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-8.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_integration_python_orm_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3066 chore: fix on presubmit 6.1
  jenkins/Dockerfile/release/linux-amd64/tiflash_nightly
  jenkins/Dockerfile/release/linux-arm64/tiflash_nightly
  jenkins/pipelines/cd/nightly/release-all-images-by-branch.groovy
  jobs/pingcap/tidb/release-6.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-6.1/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-6.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_integration_jdbc_test.groovy
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
Labels: approved, lgtm, size/XL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3061 feat: add presubmit pipelines on 7.1
  jobs/pingcap/tidb/release-7.1/pull_common_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-7.1/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-7.1/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-7.1/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-7.1/pull_common_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_tiflash_test.groovy
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3058 feat: add more presubmit pipelines on 7.5
  jobs/pingcap/tidb/release-7.5/pull_common_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-7.5/pull_tiflash_test.groovy
  pipelines/pingcap/tidb/release-7.5/pod-pull_common_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_e2e_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_common_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_copr_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_ddl_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_mysql_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_python_orm_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_mysql_client_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-7.5/pod-pull_tiflash_test.yaml
  pipelines/pingcap/tidb/release-7.5/pull_common_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_tiflash_test.groovy
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3068 fix: add missing nettool container
  pipelines/pingcap/tidb/release-7.5/pod-pull_integration_python_orm_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3074 fix: tiflash test ci need mysql cli
  jenkins/Dockerfile/release/linux-amd64/tiflash_ci
  jenkins/Dockerfile/release/linux-amd64/tiflash_ci_base
  jenkins/pipelines/cd/multibranch/build_tiflash_multi_branch.groovy
Labels: approved, lgtm, size/S

#3075 chore: remove wip/ on test passed pipelines
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Labels: approved, lgtm, size/S

#3076 fix: remove wip/ on test passed pipelines on 7.5
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.5-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3064 feat(pingcap/tiflash): add refactored jobs for release-8.1
  jobs/pingcap/tiflash/release-8.1/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.1/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.1-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3078 chore: increate timeout for tiflash ut
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.2/pull_unit_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3079 feat: add cache image build for 8.3
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Labels: approved, lgtm, size/XS

#3080 Update periodics.yaml
  prow-jobs/pingcap/monitoring/periodics.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3081 feat: tiflash & tikv split release 8.3 jobs
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci/tikv/tikv/ghpr_test.groovy
  jobs/pingcap/tiflash/release-8.3/aa_folder.groovy
  jobs/pingcap/tiflash/release-8.3/pull_integration_test.groovy
  jobs/pingcap/tiflash/release-8.3/pull_unit_test.groovy
  jobs/tikv/tikv/release-8.3/aa_folder.groovy
  jobs/tikv/tikv/release-8.3/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.3/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-8.3/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.3/pull_unit_test.groovy
  pipelines/tikv/tikv/release-8.3/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-8.3/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/release-8.3-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.3-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3086 chore: increase timeout for nodejs test
  pipelines/pingcap/tidb/release-8.1/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_integration_nodejs_test.groovy
Labels: approved, lgtm, area/jenkins-pipelines

#3087 fix: update git version to 2.40.3 in image
  pipelines/pingcap/tiflash/release-8.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_unit-test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3088 chore: update image of tiflash new pipelines
  pipelines/pingcap/tiflash/release-6.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.1/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3089 chore: ajust ut parallelism from 16 to 12
  pipelines/pingcap/tiflash/release-6.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-6.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-6.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.1/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.1/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-7.5/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/release-7.5/pull_unit_test.groovy
Labels: approved, lgtm, size/S

#3091 fix(scripts/artifacts): add checks for enterprise images
  scripts/artifacts/check-images-internal.ts
Labels: approved, lgtm, size/L

#3093 add more trigger for lightning tests
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3096 chore: enable pipeline of tidb-tools
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
Labels: approved, lgtm, size/XS

#3095 feat(script/flow): add script ga script create_github_release.ts
  scripts/flow/ga/create_github_release.ts
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/check-tiup.ts
Labels: approved, lgtm, size/L
