Repository PingCAP-QE/ci, pull requests merged in 2024-02, with the labels that each got.

#2796 fix: skip pcc and package for arm64
  jenkins/pipelines/cd/tiup/tiup-package-offline-mirror-6.0.0.groovy
Labels: approved, lgtm, size/S

#2798 feat(scripts/ops): update insight script for PR
  scripts/ops/insight-the-pr.ts
Labels: approved, lgtm

#2799 fix(pipelines/pingcap/tidb): fix stage conditions
  pipelines/pingcap/tidb/latest/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_build.groovy
Labels: approved, lgtm, area/jenkins-pipelines

#2801 feat(tidb): print pr info in description
  pipelines/pingcap/tidb/latest/ghpr_build.groovy
  pipelines/pingcap/tidb/latest/ghpr_check.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/release-6.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.1/ghpr_check.groovy
  pipelines/pingcap/tidb/release-6.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.1/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_check.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_check.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_build.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#2774 feat(tidb): skip ci on some images file change on tidb lts 6.1 & 6.5
  prow-jobs/pingcap-tidb-release-6.1-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-fips-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-presubmits.yaml
  prow-jobs/pingcap-tidb-release-6.5-with-kv-timeout-feature-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#2802 Add new container in kafka integration test
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#2773 feat(tidb): skip ci on some images file change on tidb master
  prow-jobs/pingcap-tidb-latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2804 fix: update checkout param to ensure submodule update correctly
  pipelines/pingcap/tidb/latest/merged_build.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2808 feat: double build request resource to reduce build time
  pipelines/pingcap/tidb/release-6.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-6.5/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.1/pod-ghpr_build.yaml
  pipelines/pingcap/tidb/release-7.5/pod-ghpr_build.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2809 fix(tiflow): fix get pr diff files not incomplete
  libraries/tipipeline/vars/component.groovy
Labels: approved, lgtm, size/S

#2810 fix(tiflow): fix archvie log file
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-5.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-5.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5-fips/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pull_dm_compatibility_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2811 fix(tiflow): update pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2812 Revert "fix(tiflow): update pull_dm_compatibility_test.groovy"
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2815 script: add analyse script to get prow job weekly data
  scripts/ops/statics-prow-jobs-weekly.py
Labels: approved, lgtm, size/L

#2816 feat(scripts/ops): add script to statics code line for repo
  scripts/ops/statics-repo-code-lines.ts
Labels: approved, lgtm, size/XS

#2817 chore(scripts/ops): update insight pr timeline script
  prow-jobs/pingcap-monitoring-periodics.yaml
  scripts/ops/insight-the-pr.ts
Labels: approved, lgtm, size/L, area/jobs/prow

#2819 fix(pingcap/tidb): add timeout for event sending
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_unit_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#2820 fix: update docker daemon verisonn to docker:20.10.24-dind
  jenkins/pipelines/ci/tiflash/tiflash-ghpr-integration-tests.groovy
Labels: approved, lgtm, size/S
