Repository PingCAP-QE/ci, pull requests merged in 2024-06, with the labels that each got.

#2955 feat(scripts/artifacts): add shell function `publish_tiup_from_oci_artifact_repos`
  scripts/artifacts/tag-rc2ga-on-repos.sh
Labels: approved, lgtm, size/M

#2986 feat: try to collect failure log after test timeout
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2987 feat(tikv-pd): use prow style job in 6.1
  jenkins/jobs/ci2/tikv/pd/ghpr_build.groovy
  prow-jobs/tikv/pd/release-6.1-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2988 chore: ignore file changed when collect log file
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#2989 opt(pingcap/tidb-dashboard): speedup image building fo linux/arm64 target
  jenkins/pipelines/cd/build-tidb-dashboard.groovy
Labels: approved, lgtm, size/M

#2992 fix(ti-community-infra/prow): bump job images
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2994 fix(scripts/artifacts): not override other parts in output file
  scripts/artifacts/check-images-internal.sh
  scripts/artifacts/check-tiup.sh
Labels: approved, lgtm, size/XS

#2995 fix(jenkins/pipelines/cd): keep same tags with inner repositories on GCR
  jenkins/pipelines/cd/pre-release-docker-rocky-sync.groovy
Labels: approved, lgtm, size/XS

#2996 fix(ti-community-infra/prow): fix image building jobs
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#2993 feat(pingcap/tidb-tools): add prow style job with jenkins runner
  OWNERS_ALIASES
  jobs/pingcap/tidb-tools/aa_folder.groovy
  jobs/pingcap/tidb-tools/latest/pull_verify.groovy
  pipelines/pingcap/tidb-tools/OWNERS
  pipelines/pingcap/tidb-tools/latest/pod-pull_verify.yaml
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
Labels: approved, lgtm, size/XL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2997 fix: fix tidb-tools presubmit config
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2998 fix(ti-community-infra/prow): let the heavy job run in other cluster
  OWNERS
  OWNERS_ALIASES
  jenkins/OWNERS
  jenkins/jobs/cd/OWNERS
  jenkins/pipelines/cd/OWNERS
  jobs/OWNERS
  libraries/OWNERS
  pipelines/OWNERS
  prow-jobs/OWNERS
  prow-jobs/ti-community-infra/prow/postsubmits.yaml
  prow-jobs/ti-community-infra/prow/presubmits.yaml
  scripts/plugins/OWNERS
  staging/OWNERS
Labels: approved, lgtm, size/M, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#2999 fix: temp comment cross-compile platform darwin
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3000 feat(pingcap/tidb-tools): add integration tests
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3001 feat: add jobdsl for old tidb-tools pipeline
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
Labels: approved, lgtm, size/L

#3002 fix: add missing conf on joddsl
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
Labels: approved, lgtm, size/XS

#3003 feat(pingcap/tidb-tools): enable new tidb-tools pipelines
  jenkins/jobs/ci/tidb-tools/ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-tools/ghpr_unit_test.groovy
  pipelines/pingcap/tidb-tools/latest/pull_verify.groovy
  prow-jobs/pingcap/tidb-tools/presubmits.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines, area/jobs/prow

#3004 fix(scripts/opt): update to new deno version
  scripts/ops/statics-repo-code-lines.ts
Labels: approved, lgtm, size/M

#3006 pd: make real cluster test run
  prow-jobs/tikv/pd/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#2901 feat(tiflash): upgrade to LLVM17 & remove useless prepare tool stage
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#3010 feat: add 8.2 tikv cache image build
  jenkins/pipelines/ci/tikv/tikv_ghpr_cache.groovy
Labels: approved, lgtm, size/XS

#3008 feat(pingcap/tiflow): tiflow split release 8.2 jobs
  jobs/pingcap/tiflow/release-8.2/aa_folder.groovy
  jobs/pingcap/tiflow/release-8.2/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.2/ghpr_verify.groovy
  pipelines/pingcap/tiflow/release-8.2/pod-ghpr_verify.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pull_engine_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/release-8.2-presubmits.yaml
Labels: enhancement, approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow, Tests, Review effort [1-5]: 4

#3007 feat(prow-jobs/pingcap/monitoring): add periodic type job to update file for release-8.2
  prow-jobs/pingcap/monitoring/periodics.yaml
Labels: enhancement, approved, lgtm, size/M, area/jobs/prow, Review effort [1-5]: 2

#3012 fix: fix jobdsl error
  jobs/pingcap/tidb/release-8.2/pull_common_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_e2e_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_br_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_common_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_copr_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_ddl_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_jdbc_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_lightning_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_mysql_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_nodejs_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_python_orm_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_mysql_client_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_sqllogic_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_tiflash_test.groovy
Labels: approved, lgtm, size/S, area/jobs/jenkins-DSL, Review effort [1-5]: 2, Bug fix

#3013 feat: daily internal build add release-8.1
  jenkins/jobs/cd/release_all_images_by_branch_for_internal.groovy
Labels: enhancement, approved, lgtm, size/XS, Review effort [1-5]: 1

#3015 fix(pingcap/tikv): fix pod yaml path
  pipelines/tikv/tikv/release-8.2/pull_unit_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines, Review effort [1-5]: 1

#3016 fix: fix br & lightning job name
  jobs/pingcap/tidb/release-8.2/pull_integration_br_test.groovy
  jobs/pingcap/tidb/release-8.2/pull_integration_lightning_test.groovy
  pipelines/pingcap/tidb/release-8.2/pod-pull_check2_debug.yaml
  pipelines/pingcap/tidb/release-8.2/pod-pull_check2_v2.yaml
  pipelines/pingcap/tidb/release-8.2/pull_check2.groovy
  prow-jobs/pingcap/tidb/release-8.2-presubmits.yaml
Labels: enhancement, approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow, Review effort [1-5]: 2, Bug fix

#3017 chore: sqllogic test pod use specify node
  pipelines/pingcap/tidb/latest/pod-pull_sqllogic_test.yaml
  pipelines/pingcap/tidb/release-8.2/pod-pull_sqllogic_test.yaml
Labels: enhancement, approved, lgtm, size/XS, area/jenkins-pipelines, Review effort [1-5]: 2
