Repository PingCAP-QE/ci, pull requests merged in 2025-05, with the labels that each got.

#3505 feat(prow-jobs): add support-azure branch to presubmit configuration
  prow-jobs/pingcap/docs/docs-cn-latest-presubmits.yaml
  prow-jobs/pingcap/docs/docs-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3506 chore(pingcap/tiflash): set imagePullPolicy to Always for Tiflash pod configurations
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3507 chore(pingcap/tidb): update TARGET_BRANCH_TIDB to master in smoke test pipeline
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Labels: approved, lgtm, area/jenkins-pipelines

#3510 feat(tici): add pull-e2e-test job to presubmit configuration
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3511 chore(tici): update e2e job image and set timeout to 45 minutes in presubmit configuration
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/XS

#3513 tici: add format check
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3514 Enlarge the memory for heavy test
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_heavy.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3515 opt(prow-jobs): skip triggering CI jobs for changes on git ignore file
  prow-jobs/pingcap-inc/tici/presubmits.yaml
  prow-jobs/pingcap/community/presubmits.yaml
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/tikv/community/presubmits.yaml
  prow-jobs/tikv/copr-test/latest-presubmits.yaml
  prow-jobs/tikv/raft-engine/presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3518 Enlarge the memory for heavy test
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_heavy.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3521 tici: Use makefile commands to build
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3523 Update rustc version
  prow-jobs/tikv/raft-engine/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3524 Use TiKV's rustc nightly ver
  prow-jobs/tikv/raft-engine/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3522 ticdc: add integration test and make it ready
  jobs/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3525 fix(scripts/pingcap/community): use correct key for aliases in OWNERS file
  scripts/pingcap/community/prow-owners-updater.ts
  scripts/pingcap/community/update-prow-owners.ts
Labels: approved, lgtm, size/S

#3526 chore(pingcap/tidb): add skip_if_only_changed condition to postsubmit jobs
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3528 chore(tici): update test image
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3529 chore(pingcap/tidb-operator): add new e2e presubmit on branch feature/v2
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3530 feat(scripts/artifacts): add gethash.py for retrieving git hashes from GitHub API
  scripts/artifacts/gethash.py
Labels: approved, lgtm, size/L

#3532 chore(pingcap/tidb-operator): update dind-daemon configuration in laest-presubmits.yaml
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3533 chore(pingcap/tidb): refactor vector search test for parallel test
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#3535 chore(jenkins/pipelines/devbuild): Rename the GCR image of newarch ticdc to ticdc.
  jenkins/pipelines/cd/dev-build.groovy
Labels: approved, lgtm, size/XS

#3538 chore(pingcap/tidb): support for feature/next-gen* branch to run for CI jobs
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3540 chore(pingcap/tidb): enhance vector search test caching and add tiup v8.5.1 support
  pipelines/pingcap/tidb/latest/pull_vector_search_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3545 chore(pingcap/tidb): rename pull_vector_search_test to pull_tiflash_integration_test
  jobs/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_tiflash_integration_test.yaml
  pipelines/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3539 feat(pipelines/pingcap/tiflash): add support for next-gen branch integration tests
  jobs/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  jobs/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pod-pull_integration_test.yaml
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3546 Fix tiflash-proxy cache commit for classic/next-gen
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3550 chore(pipelines/pingcap/tiflash): Update the integration tests of next-gen tiflash
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines
