Repository PingCAP-QE/ci, pull requests merged in 2025-08, with the labels that each got.

#3667 fix go -race in tidb operator e2e test
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm, ok-to-test, size/XS, area/jobs/prow

#3670 change timeout to 2h and use --proc to run tidb operator e2e
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/jobs/prow

#3669 chore(prow-jobs/pingcap-inc/tici): Run ut for tici
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3671 chore(pingcap/tidb): comment out skip_if_only_changed for unready presubmits jobs
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3672 fix(pingcap/tidb): remove pull_check_next_gen presubmit job configuration
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3674 Remove memory limit for operator e2e
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/jobs/prow

#3677 fix(pingcap/tidb): fix log directory name substitution to use tr instead of bash pattern
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3675 chore(pingcap/tidb): update job `pull_integration_realcluster_test_next_gen`
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3676 update timeout for cdc integration test
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_kafka_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_pulsar_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_storage_integration_light.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3679 opt(pingcap/tidb): set PR description earlier in all pipelines
  pipelines/pingcap/tidb/latest/canary-ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_build.groovy
  pipelines/pingcap/tidb/latest/ghpr_check.groovy
  pipelines/pingcap/tidb/latest/ghpr_check2.groovy
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_check_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_sqllogic_test.groovy
  pipelines/pingcap/tidb/latest/pull_tiflash_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3682 chore(pingcap/tidb): disable auto trigger `pull_unit_test_next_gen` job
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, area/jobs/prow

#3691 feat(pipelines/tidb): update pull-error-log-review job configuration of tidb
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3692 fix(jenkins/pipelines/cd): use new base images since v6.5.12
  jenkins/pipelines/cd/dev-build.groovy
Labels: do-not-merge/hold, approved, lgtm, size/S

#3693 chore(pipelines/tidb): reduce log retention period for integration tests from 30 to 7 days
  jobs/pingcap/tidb/latest/periodics_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jobs/jenkins-DSL

#3696 feat(scripts/flow/build): add feature branch prerelease support to versioning strategy
  scripts/flow/build/versioning-strategy.md
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
Labels: approved, lgtm, size/M

#3697 fix(scripts/pingcap/community): handle 404 error in getFileContent and return undefined
  scripts/pingcap/community/prow-owners-updater.ts
Labels: approved, lgtm, size/S

#3698 chore(pingcap/tidb): add temporary UT fail fast hacks for next-gen
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3705 chore(error-log-review): add an approver for tiflow in error-log-review
  configs/error-log-review/config.yaml
Labels: approved, lgtm, size/XS

#3703 chore(presubmits): officially effective error log review check in go based repos
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3707 feat(pingcap/tidb): enable auto trigger for `pull-mysql-client-test-next-gen` job
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3710 fix(pingcap/tidb): make integration test optional and update context
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3712 fix(pingcap/tidb): make `pull-integration-realcluster-test-next-gen` job as required
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3714 feat: update ci prow presubmit check image
  prow-jobs/pingcap-qe/ci/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow
