Repository PingCAP-QE/ci, pull requests merged in 2025-07, with the labels that each got.

#3616 fix(pipelines/tiflow): update binary download script references to specific release versions on hotfix branch
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3627 chore(prow-jobs/pingcap-inc/tici): update verify actions
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3623 chore(pipelines/cd): update tar command to include only 'bin/' directory for artifact packaging
  jenkins/pipelines/cd/multibranch/build_pd_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tidb_multi_branch.groovy
  jenkins/pipelines/cd/multibranch/build_tikv_multi_branch.groovy
Labels: approved, lgtm, size/XS

#3630 fix(pipelines/pingcap/tidb/pull_build_next_gen): change keyspace name in test run
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3632 chore(prow-jobs/pingcap-inc/tici): increase resource limits for tici presubmit jobs
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3602 feature(prow-jobs/pingcap/tidb): enable auto run for pull_build_next_gen job
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3634 fix(prow-jobs/pingcap/tiflow): use HTTPS for git clone and improve PR description
  prow-jobs/pingcap/tiflow/common-postsubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3638 docs-pdf: remove v8.3 and v8.4 as they are archived
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
Labels: approved, lgtm, ok-to-test, size/XS, area/jobs/prow

#3620 refactor: move misc_tools to tools/deprecated
  .github/renovate.json
  misc_tools
  staging/OWNERS
  tools/deprecated/misc_tools/create_branch.sh
  tools/deprecated/misc_tools/create_tag.py
  tools/deprecated/misc_tools/get_hash.sh
Labels: approved, lgtm, size/S

#3640 feat(pingcap-qe/tidb-test): add presubmit jobs for tidb-test next-gen on master branch
  prow-jobs/pingcap-qe/tidb-test/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3643 chores(pingcap/tidb/release-8.5): update pull_integration_br_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3645 chore(prow-jobs/pingcap-inc/tici): update container images to v2025.7.13-2-gdf06f11
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3650 fix(prow-jobs): update TARGET to release-9.0-beta.2 in monitoring periodics
  prow-jobs/pingcap/monitoring/periodics.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3633 docs: add guide for cherry-picking pull requests to another branch
  docs/guides/CI.md
  docs/guides/README.md
  docs/guides/cherry-pick-pull-request.md
Labels: approved, lgtm, size/XL

#3654 fix(pipelines/pingcap-qe/tidb-test): fix pipelines
  pipelines/pingcap-qe/tidb-test/latest/pull_integration_jdbc_test_next_gen/pipeline.groovy
  pipelines/pingcap-qe/tidb-test/latest/pull_mysql_test_next_gen/pipeline.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3655 refactor(pingcap/tidb): use oci download script in post-submit jobs
  pipelines/pingcap/tidb/latest/merged_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_e2e_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_copr_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_lightning_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_nodejs_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_python_orm_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_common_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_copr_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_jdbc_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_mysql_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_nodejs_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_python_orm_test.yaml
  scripts/artifacts/download_pingcap_oci_artifact.sh
Labels: approved, lgtm, size/XL, area/jenkins-pipelines

#3657 fix(pingcap/tidb): fix job `pull_integration_e2e_test_next_gen` job
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines, area/jobs/prow

#3659 chore(pingcap/tidb): remove `pull_unit_test_ddlv1_next_gen` presubmit job
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3660 feature(pingcap/tidb): enable job `pull_integration_ddl_test_next_gen` job
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines, area/jobs/prow
