Repository PingCAP-QE/ci, pull requests merged in 2025-09, with the labels that each got.

#3721 feat(presubmits): skip error log review for batch jobs
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3723 fix(operator): fix e2e ci job of tidb operator
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3718 fix(scripts/flow/ga): rename repo array to repos in release info script
  scripts/flow/ga/collect-info-for-release-issue.sh
Labels: approved, lgtm, size/XS

#3726 refactor(cd): update image prefix to use us-docker.pkg.dev for dev builds
  jenkins/pipelines/cd/dev-build.groovy
Labels: approved, lgtm, size/XS

#3728 refactor(prow-jobs/pingcap/ticdc): migrate the run cluster to default gcp cluster
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3731 feat(prow-jobs/tikv/tikv): add common-presubmits presubmit job
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/tikv/common-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3732 chore(prow-jobs/tikv/tikv): reduce resource for `pull-check-deps` job
  prow-jobs/tikv/tikv/common-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3745 Revert "feat(prow-jobs/pingcap/tidb-operator): update pull-e2e job"
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3747 Revert "Remove dind-daemon initContainer configuration"
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm, area/jobs/prow

#3748 feat(pingcap/tidb-operator): update pull-e2e job to make job required
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3738 feat(pingcap/tidb): update ci job `pull_br_intergration_test_next_gen`
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3751 chore(pingcap/tidb): increase timeout for CI jobs in release branches
  pipelines/pingcap/tidb/release-6.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_check2.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_check2.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3752 chore: "Revert "Remove dind-daemon initContainer configuration""
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm

#3753 fix: increase tidb br integration test timeout duration
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3754 revert: Revert "Remove dind-daemon initContainer configuration
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm, size/M

#3750 feat(tools): add reporter tool for flaky test analysis and reporting
  .gitignore
  tools/reporters/ci/flaky-tests/core/ConfigLoader.ts
  tools/reporters/ci/flaky-tests/core/Database.ts
  tools/reporters/ci/flaky-tests/core/FlakyReporter.ts
  tools/reporters/ci/flaky-tests/core/OwnerResolver.test.ts
  tools/reporters/ci/flaky-tests/core/OwnerResolver.ts
  tools/reporters/ci/flaky-tests/core/types.ts
  tools/reporters/ci/flaky-tests/deno.json
  tools/reporters/ci/flaky-tests/deno.lock
  tools/reporters/ci/flaky-tests/docs/README.md
  tools/reporters/ci/flaky-tests/docs/owner-map.example.yaml
  tools/reporters/ci/flaky-tests/main.ts
  tools/reporters/ci/flaky-tests/render/HtmlRenderer.ts
  tools/reporters/ci/flaky-tests/utils/EmailClient.ts
  tools/reporters/ci/flaky-tests/utils/db.ts
Labels: approved, lgtm, size/XXL

#3758 fix(prow-jobs/pingcap/ticdc): support `/test all` trigger for all required integration jobs
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3740 chore(pipelines): update cache keys for TiFlash and TiDB pipelines
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_next_gen.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-8.5/pull_unit_test.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/pull_integration_test.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/pull_unit_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3770 feat(prow-jobs/pingcap/tidb): enable auto trigger and set as required for `pull-unit-test-next-gen` job
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3771 chore(pingcap/tidb): remove temporary Makefile hack in pull_unit_test_next_gen
  jobs/pingcap/tidb/latest/pull_unit_test_ddlv1_next_gen.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines

#3775 Improve plugin build and TiDB startup script for presubmit job
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Labels: approved, lgtm, size/L

#3776 fix(prow-jobs/pingcap-inc/enterprise-plugin): add logging for TiDB PR ref and merge commit
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3782 fix(prow-jobs/pingcap-inc/enterprise-plugin): fix pull-build job
  prow-jobs/pingcap-inc/enterprise-plugin/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow
