Repository PingCAP-QE/ci, pull requests merged in 2025-03, with the labels that each got.

#3403 chore(check-release-version): support for differences in tidb-dashboard across different branches
  scripts/ops/release-check-version/check_offline_package.py
Labels: approved, lgtm, size/L

#3402 chore(scripts/flow/ga): do not create github version tag on tidb-tools repo for since v9.0.0
  scripts/flow/ga/create_github_release.ts
Labels: approved, lgtm, size/XL

#3404 feat(tiflash): compile bench_dbms in PR pipelines
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3405 feat(prow-trigger): update trigger to match two hotfix with same tag in same day
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-6.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-7.5-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.1-presubmits.yaml
  prow-jobs/tikv/tikv/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/XL, area/jobs/prow

#3410 feat(scripts/flow/build): add versioning strategy script
  scripts/flow/build/versioning-strategy.md
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
Labels: approved, lgtm, size/XL

#3414 feat(libraries/tipipeline): update function `component.computeBranchFromPR
  libraries/tipipeline/vars/component.groovy
Labels: approved, lgtm, size/S

#3406 feat(tiflow): synfdiff it remove wip and enable condition trigger
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3418 refactor(scripts/flow/build): update the versioin strategy about pre logics
  scripts/flow/build/versioning-strategy.md
  scripts/flow/build/versioning-strategy.test.ts
  scripts/flow/build/versioning-strategy.ts
Labels: approved, lgtm, size/L

#3411 feat: update auto flow jobs for release 9.x
  prow-jobs/pingcap-inc/enterprise-extensions/postsubmits.yaml
  prow-jobs/pingcap/community/postsubmits.yaml
  prow-jobs/pingcap/ng-monitoring/postsubmits.yaml
  prow-jobs/pingcap/tidb/common-postsubmits.yaml
  prow-jobs/tikv/community/postsubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3408 feat(tikv & pd): add tikv and pd pipelines of branch release-9.0-beta.1
  jobs/tikv/pd/release-9.0-beta/aa_folder.groovy
  jobs/tikv/pd/release-9.0-beta/ghpr_build.groovy
  jobs/tikv/pd/release-9.0-beta/pull_integration_copr_test.groovy
  jobs/tikv/tikv/release-9.0-beta/aa_folder.groovy
  jobs/tikv/tikv/release-9.0-beta/pull_unit_test.groovy
  pipelines/tikv/pd/release-9.0-beta/ghpr_build.groovy
  pipelines/tikv/pd/release-9.0-beta/pod-ghpr_build.yaml
  pipelines/tikv/pd/release-9.0-beta/pod-pull_integration_copr_test.yaml
  pipelines/tikv/pd/release-9.0-beta/pull_integration_copr_test.groovy
  pipelines/tikv/tikv/release-9.0-beta/pod-pull_unit_test.yaml
  pipelines/tikv/tikv/release-9.0-beta/pull_unit_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/pd/release-9.0-beta-presubmits.yaml
  prow-jobs/tikv/tikv/release-9.0-beta-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3413 feat(prow-jobs): add perioldic job for monitoring repo to support v9.x
  prow-jobs/pingcap/monitoring/periodics.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3415 feat(tiflow): add tiflow jobs on branch release-9.0-beta.1
  jobs/pingcap/tiflow/release-9.0-beta/aa_folder.groovy
  jobs/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_mysql_test.groovy
  jobs/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_pulsar_test.groovy
  jobs/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_storage_test.groovy
  jobs/pingcap/tiflow/release-9.0-beta/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-9.0-beta/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-9.0-beta/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-9.0-beta/pull_syncdiff_integration_test.groovy
  jobs/pingcap/tiflow/release-9.0-beta/pull_verify.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_verify.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_syncdiff_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_verify.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/release-9.0-beta-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3421 feat(ticdc): add ticdc jobs on branch release-9.0-beta.1
  jobs/pingcap/ticdc/release-9.0-beta/aa_folder.groovy
  jobs/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_heavy.groovy
  jobs/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_mysql_integration_heavy.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pod-pull_cdc_mysql_integration_light.yaml
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_light.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/ticdc/release-9.0-beta-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3422 chore(tiflow): remove sync_diff_inspector version check in CDC test pipelines
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pull_dm_integration_test.groovy
Labels: approved, lgtm, size/S

#3423 feat(br): add daily br it pipeline on lts branch
  jobs/pingcap/tidb/release-6.1/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-6.5/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-7.1/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-7.5/periodics_br_integration_test.groovy
  jobs/pingcap/tidb/release-8.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/periodics_br_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb/release-6.1-periodics.yaml
  prow-jobs/pingcap/tidb/release-6.5-periodics.yaml
  prow-jobs/pingcap/tidb/release-7.1-periodics.yaml
  prow-jobs/pingcap/tidb/release-7.5-periodics.yaml
  prow-jobs/pingcap/tidb/release-8.1-periodics.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3424 refactor(br): remove CODECOV_TOKEN and timeout options on test stages of periodics jobs
  pipelines/pingcap/tidb/release-6.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-6.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.1/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/periodics_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.1/periodics_br_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3425 chore: add periodic CI data crawler job for insights
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-qe/ci/OWNERS
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3426 chore(ticdc): update presubmit job configurations to modify triggers
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3427 chore(tiflow): remove wip on context of mysql it pipeline
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3428 fix(prow-jobs): update periodic-crawl-ci-run-data job to run hourly with network perms
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3429 feat(prow-jobs/docs): add trigger for release-cloud branch in presubmits configuration
  prow-jobs/pingcap/docs/docs-latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3431 chore(tiflow): update container images and resource requests for integration tests
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_pulsar_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_cdc_integration_storage_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_compatibility_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_dm_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_verify.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3432 feat(pipelines): Add proxy cache upload logic on master merged-build pipeline
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/release-9.0-beta/merged_build.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3435 feat(prow-jobs): add periodic job to crawl Git commits data
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3436 chore(prow-jobs): remove deprecated release-6.1 periodic job configuration
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb/release-6.1-periodics.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3433 fix(scripts/flow/rc): fix rc check scripts
  scripts/artifacts/tag-rc2ga-on-repos.sh
  scripts/flow/rc/check-images-internal.ts
  scripts/flow/rc/check-tiup.ts
Labels: approved, lgtm, size/M

#3437 docs(README): Revise and expand CI/CD documentation for clarity and structure
  README.md
Labels: approved, lgtm, size/L

#3440 fix(prow-jobs/pingcap-qe/ci): add SSH key and custom clone URI for PingCAP-QE periodics job
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, area/jobs/prow

#3441 feat(ticdc): add net-tool cpu from 100m to 300m for kafka light pipelines
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3434 feat(scripts/flow/ga): support beta release branch naming
  scripts/flow/ga/create-patch-release-branches.ts
  scripts/flow/ga/create_github_release.ts
Labels: approved, lgtm, size/L

#3442 fix tag-rc2ga-on-repos.sh
  scripts/artifacts/tag-rc2ga-on-repos.sh
Labels: approved, lgtm, size/XS

#3443 feat(release-check-version): support beta & rc version check
  scripts/ops/release-check-version/check_info.py
Labels: approved, lgtm, size/S

#3444 fix(scripts/flow/ga): add fallback for repos without previous releases
  scripts/flow/ga/create_github_release.ts
Labels: approved, lgtm, size/XS

#3446 feat(tikv/copr-test): enable test pipeline trigger and report
  prow-jobs/tikv/copr-test/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow
