Repository PingCAP-QE/ci, pull requests merged in 2025-06, with the labels that each got.

#3556 refactor(pipelines/pingcap/tidb-operator): update e2e-runner image
  prow-jobs/pingcap/tidb-operator/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3555 chore(pipelines/pingcap/tiflash): tiflash next-gen pipeline support master branch
  prow-jobs/pingcap/tiflash/latest-postsubmits.yaml
  prow-jobs/pingcap/tiflash/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3562 refactor(jobs/pingcap/tidb): remove merged build and test jobs for tidb trunk branch
  jobs/pingcap/tidb/latest/merged_build.groovy
  jobs/pingcap/tidb/latest/merged_integration_ddl_test.groovy
  jobs/pingcap/tidb/latest/merged_integration_e2e_test.groovy
  jobs/pingcap/tidb/latest/merged_mysql_client_test.groovy
  pipelines/pingcap/tidb/latest/merged_build.groovy
  pipelines/pingcap/tidb/latest/merged_integration_ddl_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_e2e_test.groovy
  pipelines/pingcap/tidb/latest/merged_mysql_client_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_build.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_ddl_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_integration_e2e_test.yaml
  pipelines/pingcap/tidb/latest/pod-merged_mysql_client_test.yaml
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3564 feat(scripts): add download script for oci artifacts
  pipelines/pingcap/tidb/latest/pod-pull_next_gen_real_tikv_test.yaml
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
  scripts/artifacts/download_pingcap_oci_artifact.sh
Labels: approved, lgtm, size/XL, area/jenkins-pipelines

#3565 refactor(pingcap/tidb): update test script paths for next-gen
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3570 feat(tikv/pd): add next-gen build and unit test presubmits for pd master
  prow-jobs/tikv/pd/latest-presubmits.yaml
  prow-jobs/tikv/pd/release-6.1-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3571 feat(prow-jobs/tikv/pd): add Kubernetes jobs for build and unit test
  prow-jobs/tikv/pd/latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3572 feat(jobs,pipelines): add next-gen presubmit jobs and pipelines for TiDB
  jobs/pingcap/tidb/latest/pull_build_next_gen.groovy
  jobs/pingcap/tidb/latest/pull_check_next_gen.groovy
  jobs/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen.groovy
  jobs/pingcap/tidb/latest/pull_mysql_test_next_gen.groovy
  jobs/pingcap/tidb/latest/pull_unit_test_ddlv1_next_gen.groovy
  jobs/pingcap/tidb/latest/pull_unit_test_next_gen.groovy
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_check_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_check_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_ddlv1_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_unit_test_next_gen/pod.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3574 fix(jobs,prow-jobs): rename job to pull_integration_realcluster_test_next_gen
  jobs/pingcap/tidb/latest/pull_integration_realcluster_test_next_gen.groovy
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/XS, area/jobs/jenkins-DSL, area/jobs/prow

#3575 fix(pipelines): update script path to scripts/artifacts in test pipelines
  pipelines/pingcap/tidb/latest/merged_e2e_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_common_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_jdbc_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-6.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-6.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-7.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.1/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_e2e_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3577 fix(pipelines): add keyspace-name flag to tidb-server startup command for build-next-gen job
  pipelines/pingcap/tidb/latest/pull_build_next_gen/pipeline.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3579 feat(pingcap/tidb): add tidb next gen job `pull_integration_e2e_test_next_gen`
  jobs/pingcap/tidb/latest/pull_integration_e2e_test_next_gen.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pod.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
  scripts/artifacts/download_pingcap_oci_artifact.sh
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3586 fix(pipelines): add utils container to e2e test pod and update cache key in MySQL test pipeline
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test_next_gen/pod.yaml
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3587 feat(pingcap/tidb): add CI job for MySQL client test next-gen
  jobs/pingcap/tidb/latest/pull_mysql_client_test_next_gen.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_client_test_next_gen/pod.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3591 feat(pingcap/tidb): add new CI job for integration DDL tests next-gen
  jobs/pingcap/tidb/latest/pull_integration_ddl_test_next_gen.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_integration_ddl_test_next_gen/pod.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3592 feat(pingcap/tidb): add new integration test job for BR next-gen
  jobs/pingcap/tidb/latest/pull_br_integration_test_next_gen.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test_next_gen/pod.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3593 chore(pingcap/tiflow): remove engine integration test jobs and pipelines
  jenkins/jobs/ci2/pingcap/tiflow/engine_ghpr_integration_test.groovy
  jobs/pingcap/tiflow/latest/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-7.1/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-7.2/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-7.3/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-7.4/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-7.6/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-8.0/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-8.1/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-8.2/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-8.3/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-8.4/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
  jobs/pingcap/tiflow/release-9.0-beta/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.1/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.2/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.2/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.3/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.3/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.4/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.4/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.6/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-7.6/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.0/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.0/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.1/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.2/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.2/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.3/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.3/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.4/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.4/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-9.0-beta/pod-pull_engine_integration_test.yaml
  pipelines/pingcap/tiflow/release-9.0-beta/pull_engine_integration_test.groovy
Labels: approved, lgtm, size/XXL, area/jobs/jenkins-DSL, area/jenkins-pipelines

#3596 refactor(tikv/pd): migrate presubmit `build` jobs from Jenkins to Kubernetes
  prow-jobs/tikv/pd/release-6.1-presubmits.yaml
  prow-jobs/tikv/pd/release-6.5-fips-presubmits.yaml
  prow-jobs/tikv/pd/release-6.5-presubmits.yaml
  prow-jobs/tikv/pd/release-7.1-presubmits.yaml
  prow-jobs/tikv/pd/release-7.5-presubmits.yaml
  prow-jobs/tikv/pd/release-8.1-presubmits.yaml
  prow-jobs/tikv/pd/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3600 feat(tidb): add merged TiFlash integration test job
  jobs/pingcap/tidb/latest/merged_tiflash_integration_test.groovy
  pipelines/pingcap/tidb/latest/merged_tiflash_integration_test.groovy
  pipelines/pingcap/tidb/latest/pod-merged_tiflash_integration_test.yaml
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Labels: approved, lgtm, size/L

#3606 feature(pipelines/pingcap/tidb): update MySQL test pipelines for next-gen support
  pipelines/pingcap/tidb/latest/ghpr_mysql_test.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pipeline.groovy
  pipelines/pingcap/tidb/latest/pull_mysql_test_next_gen/pod.yaml
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3611 fix(pingcap/ticdc): correct branch reference in MySQL integration test
  pipelines/pingcap/ticdc/release-9.0-beta/pull_cdc_mysql_integration_light.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3612 fix(monitoring): update base_ref to release-9.0-beta.2
  prow-jobs/pingcap/monitoring/periodics.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3613 fix(pipelines/pingcap/tidb): update artifact fetching logic in TiFlash integration test
  pipelines/pingcap/tidb/latest/merged_tiflash_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines
