Repository PingCAP-QE/ci, pull requests merged in 2025-04, with the labels that each got.

#3449 feat(prow-jobs/pingcap-qe/ci): add periodic job to crawl pull requests and issues
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3450 fix(prow-jobs): fix crawl periodic jobs for pingcap-qe/ci repo
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3451 fix(prow-jobs/pingcap-qe/ci): fix git remote setup in periodic jobs
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3452 refactor(prow-jobs/pingcap-qe/ci): switch from Ubuntu/pixi to Alpine/uv for crawl jobs
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/M

#3453 feat(ticdc): modify golang and net-tool cpu for kafka light pipelines
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_light.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3456 Revert "refactor(prow-jobs/pingcap-qe/ci): switch from Ubuntu/pixi to Alpine/uv for crawl jobs"
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3454 feat(ticdc): modify golang and net-tool cpu for mysql, kafka, pulsar and storage
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_kafka_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_pulsar_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_storage_integration_light.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3455 fix(prow-jobs/pingcap-qe/ci): fix crawl jobs
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3459 fix(pingcap/tidb): update binary download script to use computed branch name
  pipelines/pingcap/tidb/latest/pull_integration_e2e_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3461 feat(ticdc): modify kafka, pulsar and storage prow-jobs
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3463 fix(prow-jobs/pingcap/tidb): add skip_submodules flag to avoid fetch the private submodule
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3464 chore(prow-jobs/pingcap/tiflash): refactor TiFlash presubmits with YAML anchors
  prow-jobs/pingcap/tiflash/latest-presubmits.yaml
  prow-jobs/pingcap/tiflash/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/M

#3462 chore(prow-jobs/pingcap-qe/ci): expand GitHub data collection scope and adjust resources
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3465 chore(prow-jobs/pingcap/tidb-engine-ext): update latest-presubmits.yaml
  prow-jobs/pingcap/tidb-engine-ext/OWNERS
  prow-jobs/pingcap/tidb-engine-ext/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3467 opt(prow-jobs/pingcap-qe/ci): speedup crawling jobs
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/XL, area/jobs/prow

#3468 fix(prow-jobs/pingcap-qe/ci): fix crawl jobs
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/XL, area/jobs/prow

#3460 fix(pingcap/tidb): update binary download script to use computed branch name
  pipelines/pingcap/tidb/latest/merged_integration_br_test.groovy
  pipelines/pingcap/tidb/latest/merged_integration_lightning_test.groovy
  pipelines/pingcap/tidb/latest/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
  pipelines/pingcap/tidb/release-7.5/pull_br_integration_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_e2e_test.groovy
  pipelines/pingcap/tidb/release-9.0-beta/pull_integration_e2e_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#3470 chore(prow-jobs/pingcap-qe/ci): move periodic jobs to prow_ignored action
  prow-jobs/pingcap-qe/ci/periodics.yaml
Labels: approved, lgtm, size/XL, area/jobs/prow

#3471 chore (tiflash): Libclara support (1)
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-merged_unit_test.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_unit-test.yaml
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/XL, area/jenkins-pipelines

#3472 fix(tiflash): Fix libclara build cache issue
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#3473 feat(scripts/ops): add cherry-pick branch cleanup script
  scripts/ops/clean-cherry-pick-branches.ts
Labels: approved, lgtm, size/L

#3474 fix(libraries): enhance the `computeBranchFromPR` method
  libraries/tipipeline/vars/component.groovy
Labels: approved, lgtm, size/XS

#3469 fix(tidb/lightning): update to support feature branch
  pipelines/pingcap/tidb/latest/pull_lightning_integration_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines

#3475 feat(prow-jobs): add presubmit job for pingcap-inc/tici repository
  OWNERS_ALIASES
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap-inc/tici/OWNERS
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3476 fix(prow-jobs/pingcap-inc/tici): add decoration_config for GitHub token authentication
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3477 fix(prow-jobs/pingcap-inc/tici): enhance build debug job with environment verification
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3478 opt(pingcap/tiflash): add git.setSshKey before prow.checkoutRefs in TiFlash pipelines
  pipelines/pingcap/tiflash/latest/merged_build.groovy
  pipelines/pingcap/tiflash/latest/merged_unit_test.groovy
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
  pipelines/pingcap/tiflash/latest/pull_unit_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3479 fix(pingcap/tiflash): update TiFlash builder image for old daily job
  jenkins/pipelines/ci/tiflash/tiflash-sanitizer-daily.groovy
Labels: approved, lgtm, size/S

#3483 chore(pipelines/*/release-8.5): update binary URLs from v8.5.0-centos7 to v8.5.2-pre
  pipelines/pingcap/tidb/release-8.5/pull_check2_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_e2e_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_br_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_common_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_copr_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_ddl_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_e2e_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_jdbc_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_lightning_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_mysql_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_nodejs_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_python_orm_test_centos.groovy
  pipelines/pingcap/tidb/release-8.5/pull_integration_tidb_tools_test_centos.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test_centos.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test_centos.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test_centos.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test_centos.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test_centos.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test_centos.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test_centos.groovy
Labels: approved, lgtm

#3485 feat(pingcap-inc/tici): update Rust build image to TiKV builder
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3486 feat(tidb/next-gen): add smoke test prow job for tidb next gen
  jobs/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
  pipelines/pingcap/tidb/latest/pod-periodics_tidb_next_gen_smoke_test.yaml
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Labels: approved, lgtm, size/L, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3487 chore(pipelines/pingcap/tidb): increase resource limits for smoke test job
  pipelines/pingcap/tidb/latest/pod-periodics_tidb_next_gen_smoke_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3488 fix(tidb/next-gen): update tidb next gen smoke test pipeline
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#3489 fix(tidb/next-gen): update smoke test command to use --without-monitor flag
  pipelines/pingcap/tidb/latest/periodics_tidb_next_gen_smoke_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3490 fix(pingcap/tiflow): remove engine integration tests from presubmits jobs
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.4-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.6-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.0-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.4-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-centos-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-9.0-beta-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3491 fix(tidb): rename smoke test job to include full path
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Labels: approved, lgtm, size/XS

#3492 chore(pingcap/tidb, pingcap-qe/ee-apps): remove security scan presubmit jobs
  prow-jobs/pingcap-qe/ee-apps/presubmits.yaml
  prow-jobs/pingcap/tidb/latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3494 fix(prow-jobs/pingcap-inc/tici): enable devtoolset-10
  prow-jobs/pingcap-inc/tici/presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3495 feat(pingcap/tidb): add new pipeline for next gen real tikv test
  jobs/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
  pipelines/pingcap/tidb/latest/pod-pull_next_gen_real_tikv_test.yaml
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/XL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3497 feat(pingcap/tidb): add Git credentials ID for next gen real tikv test pipeline
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3496 refactor(scripts/flow/rc): simplify image validation and mapping structure
  scripts/flow/rc/check-images-internal.ts
Labels: approved, lgtm, size/L

#3501 refactor(pingcap/tidb): clean up next-gen real tikv test script and update branch filter in presubmit config
  pipelines/pingcap/tidb/latest/pull_next_gen_real_tikv_test.groovy
  prow-jobs/pingcap/tidb/latest-presubmits-next-gen.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines, area/jobs/prow

#3503 chore(scripts): add release ref script and analyze approvals script
  scripts/flow/ga/collect-info-for-release-issue.sh
  scripts/ops/analysis-approvals-for-changes-of-files.ts
Labels: approved, lgtm, size/XL
