Repository PingCAP-QE/ci, pull requests merged in 2025-01, with the labels that each got.

#3308 chore(tiflow): keep the trigger command and context consistent
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-5.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-5.4-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.0-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.5-20241101-v6.5.7-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.5-fips-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.1.0-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.4-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.5-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-7.6-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.0-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.2-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.4-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-centos-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/XXL, area/jobs/prow

#3309 fix(tidb): add unit test step for enterprise extensions
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
Labels: approved, lgtm, size/XL, area/jenkins-pipelines

#3310 docs-pdf-building: remove v5.3 and v8.2 as they are archived
  prow-jobs/pingcap/docs/docs-cn-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-postsubmits.yaml
  prow-jobs/pingcap/docs/docs-tidb-operator-postsubmits.yaml
Labels: approved, lgtm, ok-to-test, size/S, area/jobs/prow

#3311 fix(pipelines/pingcap/tidb): fix when conditions for pulls size
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/latest/merged_unit_test.groovy
  pipelines/pingcap/tidb/release-7.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.2/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.3/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.4/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.5/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-7.6/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.0/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.1/ghpr_unit_test.groovy
  pipelines/pingcap/tidb/release-8.2/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.3/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.4/pull_unit_test.groovy
  pipelines/pingcap/tidb/release-8.5/pull_unit_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3312 fix(pingcap/tidb): fix bazel error
  pipelines/pingcap/tidb/release-6.5-20241101-v6.5.7/ghpr_check.groovy
  pipelines/pingcap/tidb/release-6.5-fips/ghpr_check.groovy
  pipelines/pingcap/tidb/release-6.5-with-kv-timeout-feature/ghpr_check.groovy
  pipelines/pingcap/tidb/release-6.5/ghpr_check.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3313 feat(tidb): add long unit test daily pipeline
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3314 chore(tidb): executed every night at 10 PM UTC
  prow-jobs/pingcap/tidb/latest-periodics.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3315 Remove sync_diff_inspector version check from tiflow CI
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/periodics_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/latest/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_dm_compatibility_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3316 Change tiflow CI to build sync_diff_inspector from source
  pipelines/pingcap/tiflow/latest/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/latest/pull_engine_integration_test.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3317 docs: migrate from Qiniu Cloud to Tencent Cloud
  pipelines/pingcap/docs-cn/latest/merged_update_docs_cn.groovy
  pipelines/pingcap/docs-cn/latest/pod-merged_update_docs_cn.yaml
  pipelines/pingcap/docs-tidb-operator/latest/merged_update.groovy
  pipelines/pingcap/docs-tidb-operator/latest/pod-merged_update.yaml
  pipelines/pingcap/docs/latest/merged_update_docs.groovy
  pipelines/pingcap/docs/latest/pod-merged_update_docs.yaml
Labels: approved, lgtm, ok-to-test, size/L, area/jenkins-pipelines

#3320 feat(ticdc): add new ticdc presubmit config
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3322 feat(ticdc): add check pipeline
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3323 fix(cd): fix build-comon for tikv when given builder image
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
Labels: approved, lgtm, size/M

#3325 Update pod-pull_cdc_integration_kafka_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_kafka_test.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3321 fix(tidb): checkout to minor version of tidb-test for hotfix
  libraries/tipipeline/vars/component.groovy
Labels: approved, lgtm, size/M

#3326 feat(ticdc): make ut and check required
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Labels: approved, lgtm, size/S, area/jobs/prow

#3327 chore(tidb): temporarily skip until the test is fixed
  prow-jobs/pingcap/tidb/latest-postsubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3329 chore(tiflash): increase memory limit to avoid build oom
  pipelines/pingcap/tiflash/latest/pod-merged_build.yaml
  pipelines/pingcap/tiflash/latest/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-6.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-7.5/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.1/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.2/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.3/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.4/pod-pull_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-merged_build.yaml
  pipelines/pingcap/tiflash/release-8.5/pod-pull_build.yaml
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3330 chore(tiflash): run license check before build
  pipelines/pingcap/tiflash/latest/pull_integration_test.groovy
Labels: approved, lgtm, size/M, area/jenkins-pipelines
