Repository PingCAP-QE/ci, pull requests merged in 2025-02, with the labels that each got.

#3360 refactor(tikv/pd): move build job to prow style job
  jenkins/jobs/ci2/tikv/pd/ghpr_build.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/tikv/pd/release-5.4-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3336 feat(tikv/tikv): add refactored prow job pull-clippy-linux-arm64
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3331 feat(br): enable condition trigger for br test on 8.5
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3364 fix(prow-jobs/tikv/tikv): fix the shell step
  prow-jobs/tikv/tikv/latest-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3365 fix(ticdc): update env for debezium test
  pipelines/pingcap/tiflow/release-8.1/pod-pull_cdc_integration_kafka_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3332 feat(br): enable condition trigger of br test on 8.1
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3366 feat(tiflow): use correct tidb cluster branch on hotfix
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#3367 Revert "feat(br): enable condition trigger of br test on 8.1"
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
Labels: approved, lgtm, size/XS, area/jobs/prow

#3370 refactor(pingcap/tidb-binlog): refactor check job to prow style
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3371 refactor(pingcap/tidb-binlog): refactor unit-test job to prow style
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3372 refactor(pingcap/tidb-binlog): refactor integration-test job to prow style
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3373 Revert "refactor(pingcap/tidb-binlog): refactor integration-test job to prow style"
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Labels: area/jobs/prow

#3374 Revert "refactor(pingcap/tidb-binlog): refactor unit-test job to prow style"
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Labels: size/M, area/jobs/prow

#3335 fix(cd): update docker image repo and dockerfiles for devbuild job
  jenkins/pipelines/cd/dev-build.groovy
Labels: approved, lgtm, size/L

#3375 refactor(pingcap/tidb-binlog): refactor unit-test job to prow style
  jenkins/jobs/ci2/pingcap/tidb-binlog/ghpr_check.groovy
  jenkins/jobs/ci2/pingcap/tidb-binlog/ghpr_unit_test.groovy
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3378 feat(pingcap/tidb): update UT job for master branch to cover enterprise extension
  pipelines/pingcap/tidb/latest/ghpr_unit_test.groovy
Labels: approved, lgtm, size/S, area/jenkins-pipelines

#3379 refactor(pingcap/tidb-binlog): refactor integration-test job to prow style
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3384 feat(pingcap/tidb-binlog): add integration test job
  prow-jobs/pingcap/tidb-binlog/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/prow

#3388 feat(tiflow): script support download binary by tag
  scripts/pingcap/tiflow/download_test_binaries_by_tag.sh
Labels: approved, lgtm, size/L

#3390 feat(tidb): presubmit branch trigger match feature branch on 8.1
  prow-jobs/pingcap/tidb/release-6.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-6.5-presubmits.yaml
  prow-jobs/pingcap/tidb/release-7.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.1-presubmits.yaml
  prow-jobs/pingcap/tidb/release-8.5-presubmits.yaml
Labels: approved, lgtm, size/L, area/jobs/prow

#3380 feat(tiflow): download exact version content in hotfix branch
  libraries/tipipeline/vars/component.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_engine_integration_test.groovy
  scripts/pingcap/tiflow/ticdc_integration_test_download_dependency.sh
Labels: approved, lgtm, size/XL, area/jenkins-pipelines

#3387 Add new CI for tiflow to enable integration tests of sync_diff_inspector
  pipelines/pingcap/tiflow/latest/pod-pull_syncdiff_integration_test.yaml
  pipelines/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
Labels: approved, lgtm, size/L, area/jenkins-pipelines

#3392 feat(tiflow): add trigger for new sync_diff pipeline
  jobs/pingcap/tiflow/latest/pull_syncdiff_integration_test.groovy
  prow-jobs/pingcap/tiflow/latest-presubmits.yaml
Labels: approved, lgtm, size/M, area/jobs/jenkins-DSL, area/jobs/prow

#3393 modify cdc integration test memory limit
  pipelines/pingcap/tiflow/latest/pod-periodics_cdc_integration_mysql_test.yaml
  pipelines/pingcap/tiflow/latest/pod-pull_cdc_integration_test.yaml
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3395 feat(jobs,prow-jobs): deprecate jobs for v5.4
  jenkins/jobs/ci/tidb-test/ghpr_build.groovy
  jenkins/jobs/ci/tidb-test/tidb_test_ghpr_integration_test.groovy
  jenkins/jobs/ci/tidb-test/tidb_test_ghpr_mysql_test.groovy
  jenkins/jobs/ci/tidb/ghpr_build.groovy
  jenkins/jobs/ci/tidb/ghpr_check.groovy
  jenkins/jobs/ci/tidb/ghpr_check2.groovy
  jenkins/jobs/ci/tidb/ghpr_common_test.groovy
  jenkins/jobs/ci/tidb/ghpr_copr_test.groovy
  jenkins/jobs/ci/tidb/ghpr_e2e_test.groovy
  jenkins/jobs/ci/tidb/ghpr_integration_br_test.groovy
  jenkins/jobs/ci/tidb/ghpr_integration_campatibility_test.groovy
  jenkins/jobs/ci/tidb/ghpr_integration_cdc_test.groovy
  jenkins/jobs/ci/tidb/ghpr_integration_common_test.groovy
  jenkins/jobs/ci/tidb/ghpr_integration_ddl_test.groovy
  jenkins/jobs/ci/tidb/ghpr_mybatis_test.groovy
  jenkins/jobs/ci/tidb/ghpr_mysql_test.groovy
  jenkins/jobs/ci/tidb/ghpr_sqllogic_test_1.groovy
  jenkins/jobs/ci/tidb/ghpr_sqllogic_test_2.groovy
  jenkins/jobs/ci/tidb/ghpr_tiflash_test.groovy
  jenkins/jobs/ci/tidb/ghpr_unit_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_build.groovy
  jenkins/jobs/ci/tiflash/ghpr_integration_test.groovy
  jenkins/jobs/ci/tiflash/ghpr_unit_test.groovy
  jenkins/jobs/ci2/pingcap/tiflow/cdc_ghpr_integration_test.groovy
  jenkins/jobs/ci2/pingcap/tiflow/cdc_ghpr_kafka_integration_test.groovy
  jenkins/jobs/ci2/pingcap/tiflow/cdc_ghpr_leak_test.groovy
  jenkins/jobs/ci2/pingcap/tiflow/cdc_ghpr_test.groovy
  jenkins/jobs/ci2/pingcap/tiflow/dm_ghpr_compatibility_test.groovy
  jobs/pingcap/tiflow/release-5.3/aa_folder.groovy
  jobs/pingcap/tiflow/release-5.3/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-5.3/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-5.3/pull_cdc_integration_test.groovy
  jobs/pingcap/tiflow/release-5.3/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-5.3/pull_dm_integration_test.groovy
  jobs/pingcap/tiflow/release-5.4/aa_folder.groovy
  jobs/pingcap/tiflow/release-5.4/ghpr_verify.groovy
  jobs/pingcap/tiflow/release-5.4/pull_cdc_integration_kafka_test.groovy
  jobs/pingcap/tiflow/release-5.4/pull_cdc_integration_test.groovy
  jobs/pingcap/tiflow/release-5.4/pull_dm_compatibility_test.groovy
  jobs/pingcap/tiflow/release-5.4/pull_dm_integration_test.groovy
  prow-jobs/kustomization.yaml
  prow-jobs/pingcap/tiflow/release-5.3-presubmits.yaml
  prow-jobs/pingcap/tiflow/release-5.4-presubmits.yaml
  prow-jobs/tikv/pd/release-5.4-presubmits.yaml
Labels: approved, lgtm, size/XL, area/jobs/jenkins-DSL, area/jobs/prow

#3396 feat(dev-build): support new ticdc build in devbuild
  jenkins/pipelines/cd/atom-jobs/build-common.groovy
  jenkins/pipelines/cd/dev-build.groovy
Labels: approved, lgtm, size/S

#3397 feat(dev-build): build job add ticdc-newarch choice
  jenkins/jobs/cd/devbuild.groovy
Labels: approved, lgtm, size/XS

#3399 feat(ticdc): new ticdc add mysql it pipeline
  jobs/pingcap/ticdc/aa_folder.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  jobs/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_heavy.yaml
  pipelines/pingcap/ticdc/latest/pod-pull_cdc_mysql_integration_light.yaml
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
  prow-jobs/pingcap/ticdc/latest-presubmits.yaml
Labels: approved, lgtm, size/XL, area/jobs/jenkins-DSL, area/jenkins-pipelines, area/jobs/prow

#3400 chore(ticdc): remove unnecessary test build
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3401 chore(ticdc): disable failfast for new ticdc wip pipeline
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_heavy.groovy
  pipelines/pingcap/ticdc/latest/pull_cdc_mysql_integration_light.groovy
Labels: approved, lgtm, size/XS, area/jenkins-pipelines

#3394 feat(tiflow): download exact version content for tiflow hotfix
  pipelines/pingcap/tiflow/release-6.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-6.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1.0/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_cdc_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.1/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-7.5/pull_engine_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.1/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_kafka_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_mysql_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_pulsar_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_cdc_integration_storage_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_compatibility_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_dm_integration_test.groovy
  pipelines/pingcap/tiflow/release-8.5/pull_engine_integration_test.groovy
Labels: approved, lgtm, size/XXL, area/jenkins-pipelines
